<div class="orderHeader">
	<div class="orderStatus delivered iBtn <% if (isDelivered) { %>bCheck<% } %>"></div>
	<div class="orderNumber"><%= number %></div>
	<div class="alertOrder iBtn bBell"></div>
	<div class="orderTime"><%= dateOrTime %></div>
	<div class="orderDestination"><%= postal %> <%= city %></div>


	<div class="iBtn bPrint"></div>
	<div class="orderValue"><%= total %>€</div>
	<div class="orderPaymentMethod iBtn bPaypal"></div>
	<div class="orderTimeLimit"><%= dueTime %></div>
</div>
<div class="orderContent"></div>