<!-- BEST-NR & Logo -->

<section class="orderDetailsHead">
    Best.-Nr. <span><%= orderNumber %></span> (eingegangen um <span><%= orderTime %></span> - <%= orderDate %>)
</section>

<!-- Bestellungs-Übersicht -->

<section class="orderDetailsAbstract">

    <!-- Besteller-Details -->

    <div class="ordererDetails">
        <div class="ordererAddress">
            <p>
                An<br>
                <span>
                    <%= addressFirstName %> <%= addressLastName %><br>
                    <%= addressStreet %> <%= addressStreetNumber %> <% if (addressStreetAdditional) { %>(<%= addressStreetAdditional %>)<% } %><br>
                    <%= addressPostal %> <%= addressCity %><br>
                </span>
            </p>
            <% if (addressDistrict) { %>
            <p class="ordererDeliveryArea">
                <%= addressDistrict %>
            </p>
            <% } %>
        </div>
        <div class="ordererContact">
            Tel: <%= addressPhone %><br>
            <% if (addressEmail) { %>Mail: <a href="mailto:<%= addressEmail %>"><%= addressEmail %></a><% } %>
        </div>
        <% if (comment) { %>
        <div class="ordererMessage">
            <%= comment %>
        </div>
        <% } %>

        <!-- Artikel-Übersicht -->

    </div><div class="orderDeliveryDetails">
        <div class="orderTimeQrCode">
            Bis <%= dueTime %>
            <!-- <img class="orderQrCode" src="" alt=""> -->
        </div>
        <div class="orderPaymentMethod">
            Bezahlmethode: <%= paymentMethod %>
        </div>
        <div class="orderedArticlesListing">
            <ol class="orderedArticlesList"></ol>
            <div class="overallSum"><%= total %> €</div>
        </div>
    </div>
</section>
