<header>
	<h2>Kontodaten</h2>
</header>
<div id="bankaccountOwner">
	<label for="bankaccountOwnerInput">Kontoinhaber</label>
	<input data-field="name" id="bankaccountOwnerInput" value="<%= name %>">
</div>
<div id="bankaccountNr">
	<label for="bankaccountNrInput">IBAN</label>
	<input data-field="iban" id="bankaccountNrInput" placeholder="Kontonummer" value="<%= iban %>">
</div>
<div id="bankId">
	<div id="bankCodeNr">
		<label for="bankCodeNrInput">BIC</label>
		<input data-field="bic" id="bankCodeNrInput" value="<%= bic %>">
	</div>
</div>