<header>
	<h2>Kontodaten</h2>
</header>
<div id="bankaccountOwner">
	<label for="bankaccountOwnerInput">Kontoinhaber</label>
	<input data-field="name" id="bankaccountOwnerInput" value="<%= name %>">
</div>
<div id="bankaccountIBAN">
	<label for="bankaccountIBANInput">IBAN</label>
	<input data-field="iban" id="bankaccounIBANInput" value="<%= iban %>">
</div>
<div id="bankaccountBIC">
	<label for="bankaccountBICInput">BIC</label>
	<input data-field="bic" id="bankaccountBICInput" value="<%= bic %>">
</div>