<div class="orderHeader">
	<div class="orderStatus delivered iBtn bCheck"></div>
	<div class="orderNumber"><%= id %></div>
	<div class="alertOrder claimed iBtn bBell"></div>
	<div class="orderTime"><%= dateOrTime %></div>
	<div class="orderDestination"><%= postal %> <%= city %></div>


	<div class="vecbuttonPrint"></div>
	<div class="orderValue"><%= total %></div>
	<div class="orderPaymentMethod iBtn bPaypal"></div>
	<div class="orderTimeLimit"><%= dueTime %></div>
</div>
<div class="orderContent"></div>