<div class="orderContent">
	<div class="orderArticles">
		<div class="orderArticle">
			<div class="articleItem sub">

				<div class="subInfo">
					<img src="../../../img/articles/subs/bmt.png" alt="">
					<h3>Turkey &amp; Ham</h3>
					<span class="sbdg bGreen subSize">30<small>cm</small></span>
				</div>

				<div class="articleIngredients">
					<div>
						<div class="bread">Vollkornbrot</div>
						<div class="cheese">Cheddar Cheese</div>
					</div>
					<div>
						<div class="vegetables">
							<span class="tomato">TO</span>
							<span class="paprika">PA</span>
							<span class="olive">OL</span>
							<span class="salad">SA</span>
						</div>
						<div class="sauce">Chipotle Southwest</div>
					</div>
					<div>
						<div class="extras">
							<span class="doubleCheese"></span>
							<span class="doubleVeg"></span>
						</div>
						<div class="toasted">getoastet</div>
					</div>
				</div>

			</div>
			<div class="articleItem additional">
				<img class="beverage" src="../../../img/articles/getraenke/kaltgetraenk.png" alt="">
				<h3>Coca Cola</h3>
				<span class="badgeGreen cupSize">0.5l</span>
			</div>

			<div class="articleItem additional">
				<img class="cookie" src="../../../img/articles/cookies/macadamia_nut.png" alt="">
				<h3>Macadamia Nut Cookie</h3>
				
			</div>
		</div>
		<div class="orderArticle">
			<div class="articleItem sub">

				<div class="subInfo">
					<img src="../../../img/articles/subs/bmt.png" alt="">
					<h3>Turkey &amp; Ham</h3>
					<span class="sbdg bGreen subSize">30<small>cm</small></span>
				</div>

				<div class="articleIngredients">
					<div>
						<div class="bread">Vollkornbrot</div>
						<div class="cheese">Cheddar Cheese</div>
					</div>
					<div>
						<div class="vegetables">
							<span class="tomato">TO</span>
							<span class="paprika">PA</span>
							<span class="olive">OL</span>
							<span class="salad">SA</span>
						</div>
						<div class="sauce">Chipotle Southwest</div>
					</div>
					<div>
						<div class="extras">
							<span class="doubleCheese"></span>
							<span class="doubleVeg"></span>
						</div>
						<div class="toasted">getoastet</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="iBtn bPrint"></div>
</div>