<div class="folded_client">	
	<div class="client_number">#<%= number %></div>
	<div class="client_title"><%= name %></div>
	<div class="icon_edit_yellow_small"></div>
	<div class="icon_add_small" title="Neuer Store"></div>
	<div class="client_member_since"><%= created_at %></div>
	<div class="client_monthly_turnover"><%= monthlyTurnover %> €</div>
	<div class="client_total_turnover"><%= totalTurnover %> €</div>
	<div class="client_monthly_orders"><%= monthlyOrders %></div>
	<div class="client_total_orders"><%= totalOrders %></div>
	<br class="clear">
</div>
<div class="unfolded_client"></div>
<div class="edit_client"></div>