<article class="searchbar_container">
	<section>
		<div class="add_new_client">
			<i class="icon_add_big"></i>Kunde hinzufügen
		</div>
		<input type="text" class="searchbar" value="">
		<i class="icon_clear"></i>
		<br class="clear">
	</section>
</article>

<article class="client_listing">
	<header>
		<div class="client_number sort" data-field="number">KdNr.</div>
		<div class="client_title sort" data-field="name">Name</div>
		<div class="client_member_since sort" data-field="created_at">Mitglied seit</div>
		<div class="client_monthly_turnover sort" data-field="monthly_turnover"><span>&empty;</span> Umsatz</div>
		<div class="client_total_turnover sort" data-field="total_turnover"><span>&infin;</span> Umsatz</div>
		<div class="client_monthly_orders sort" data-field="monthly_oders"><span>&empty;</span> Best.</div>
		<div class="client_total_orders sort" data-field="total_orders"><span>&infin;</span> Best.</div>
		<br class="clear">
	</header>

	<section></section>

</article>