// ----------------------------------------------------  HOMICONS ----------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------

// GENERAL

@font-face {
  font-family: "Homicons";
  src: url("../fonts/Homicons.eot");
  src: url("../fonts/Homicons.eot?#iefix") format("embedded-opentype"), url("../fonts/Homicons.ttf") format("truetype"), url("../fonts/Homicons.svg#Homicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* global styles */
.icn, .iBtn, .phd {
  display: inline-block;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background: none 0 0 no-repeat;
  
  &:before, &:after {
    .positioned;
    top: 1px;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }
}


.icn, .iBtn, .phd {
  font-family: "Homicons" !important;
  font-weight: normal !important;
  font-style: normal !important;
  text-decoration: inherit !important;
  font-size: 30px !important;
}

.note, .smallNote {
  .icn {
    color: @onNoteColor;
  }
}

.note, .smallNote {
  .iBtn, .phd {
    color: @onNoteColor50;
    .transition(color .05s linear);
    &:hover, &:active {
      color: @onNoteColor;
    }
  }
}

// ----------------------------------------------------  Icons -------------------------------------------------------

.iBtn {
  cursor: pointer;
}

.phd {
  &:before, &:after {
    font-size: 300px;
    color: @white;
  }
  &:after {
    color: @grayLighter;
  }
}

// Articles ---------------------------
// ------------------------------------

.iSub:before {
  content: "\e000";
}

.iWrap:before {
  content: "\e001";
}

.iSalad:before {
  content: "\e002";
}

.iBeverage:before {
  content: "\e003";
}



// Ingredients ------------------------
// ------------------------------------

.iBread:before {
  content: "\e014";
}

.iCheese:before {
  content: "\e015";
}

.iVegetables:before {
  content: "\e016";
}

.iSauce:before {
  content: "\e017";
}


// Placeholder ------------------------
// ------------------------------------

.pfootlong:before { content: "\e01e"; }

.pSub {
  &:before { content: "\e01f"; }
  &:after { content: "\e020"; }
}

.pWrap {
  &:before { content: "\e021"; }
  &:after { content: "\e022"; }
}

.pSalad {
  &:before { content: "\e023"; }
  &:after { content: "\e024"; }
}

.pCookie {
  &:before { content: "\e025"; }
  &:after { content: "\e026"; }
}

.pMuffin {
  &:before { content: "\e027"; }
  &:after { content: "\e028"; }
}


// Donuts, Eis, Chips ...

.pSalad {
  &:before { content: "\e023"; }
  &:after { content: "\e024"; }
}

.pColdBev {
  &:before { content: "\e02e"; }
  &:after { content: "\e02f"; }
}

.pWarmBev {
  &:before { content: "\e030"; }
  &:after { content: "\e031"; }
}

// Space for 5 placeholder-pairs



// Arrows -----------------------------
// ------------------------------------

.iPrev, .bPrev {
  &:before { content: "\e03c"; }
}

.iNext, .bNext {
  &:before { content: "\e03d"; }
}

.iBack, .bBack {
  &:before { content: "\e03e"; }
}

.iNextItem, .bNextItem {
  &:before { content: "\e03f"; }
}

// Space for 19 Arrows



// Common Icons -----------------------
// ------------------------------------

.iCircle:before {
  content: "\e053";
}

// Payment

.iPayBar, .bPayBar {
  &:before { content: "\e057"; }
}

.iPayEC, .bPayEC {
  &:before { content: "\e058"; }
}

.iPaypal, .bPaypal {
  &:before { content: "\e059"; }
}


// General

.iSettings, .bSettings {
  &:before { content: "\e05a"; }
}

.iHeart, .bHeart {
  &:before { content: "\e05b"; }
}

.iStar, .bStar {
  &:before { content: "\e05c"; }
}

.iAdd, .bAdd {
  &:before { content: "\e05d"; }
}

.iRemove, .bRemove {
  &:before { content: "\e05e"; }
}

.iClose, .bClose {
  &:before { content: "\e05f"; }
}

.iLocked, .bLocked {
  &:before { content: "\e060"; }
}

.iUnlocked, .bUnlocked {
  &:before { content: "\e061"; }
}

.iTrash, .bTrash {
  &:before { content: "\e062"; }
}

.iCart, .bCart {
  &:before { content: "\e063"; }
  &.filled {
    &:before { content: "\e064"; }
  }
}

.iSearch, .bSearch {
  &:before { content: "\e065"; }
}

.iProfile, .bProfile {
  &:before { content: "\e066"; }
}

.iFlag, .bFlag {
  &:before { content: "\e067"; }
}

.iInfo, .bInfo {
  &:before { content: "\e068"; }
}

.iEdit, .bEdit {
  &:before { content: "\e069"; }
}

.iPhone, .bPhone {
  &:before { content: "\e06a"; }
}

.iMail, .bMail {
  &:before { content: "\e06b"; }
}

.iStoreInfo, .bStoreInfo {
  &:before { content: "\e06c"; }
}

.iDocument, .bDocument {
  &:before { content: "\e06d"; }
}

.iPrint, .bPrint {
  &:before { content: "\e06e"; }
}

.iBell, .bBell {
  &:before { content: "\e06f"; }
}

.iTurnover, .bTurnover {
  &:after { content: "\e070"; } 
}

.iBolt, .bBolt {
  &:before { content: "\e071"; }
}

.iLightbulb, .bLightbulb {
  &:before { content: "\e072"; }
}

.iWarning, .bWarning {
  &:before { content: "\e073"; }
}

.iCheck, .bCheck {
  &:before { content: "\e074"; }
}

.iReset, .bReset {
  &:before { content: "\e075"; }
}
