




// Min-Widths  -------------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------

html, body, .main {
  min-width: 960px;
}

aside#header {
  min-width: 615px;
}


// -------------------------------------------------------------------------------------------------------------------


// Important Header Breaking-Points:
//
// 1304px
// 1113px



// home.home  --------------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------


@media (max-width: 1304px) {

  .locationSelection {
    width: 70%;
    margin: 0px 15% 0;
  }
}

@media (max-width: 1113px) {
  .locationSelection {
    width: 80%;
    margin: 0px 10% 0;
  }
}


// store.home  -------------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------



// Items
// -----

.items {width: 100%;}


@media (min-width: 1451px) {

  .items { width: 1451px; }
}



@media (min-width: 1077px) and (max-width: 1450px) {
  
  .items { width: 1077px; }
}

@media (max-width: 1076px) {

  .items { width: 718px; }
}





// Header & store.home
// ------

@media (max-width: 1360px) {

  aside#header {
    width: 55%;
    #currentInfo {
      max-width: 30%;
      span {
        max-width: 80%;
      }
    }
  }
}




@media (max-width: 1235px) {

  aside#header {
    width: 58%;
    
    #currentInfo {
      max-width: 30%;
      span {
        max-width: 80%;
      }
    }

    i.imgIcn {
      margin-right: 0;
    }

    div#clientAreaNavigation {
      .iBtn { margin: 24px 5px 0;}
      #bStoreConfig { margin-left: 12px;}
      #bStoreDashboard { margin-right: 12px;}
      #bClientDashboard, #bSignout { padding: 24px 12px 0; margin: 0;}
    }
  }
}

@media (max-width: 1186px) {

  aside#header {
    
    #currentInfo {
      span {
        max-width: 53%;
      }
    }

    #headerCustomerContent #trayPreview {
      height: 51px;
      padding-top: 16px;
    } 
    span#sumContainer {
      width: 86px;
    }
    #headerCustomerContent {
      >div {
        padding: 0 7px;
      }
    }
  }
}

// store.home  -------------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------




@media (max-width: 1304px) {
  #categoriesNavigation {
    width: 45%;
  }
}

@media (max-width: 1113px) {
  #categoriesNavigation {
    width: 40%;
    padding-left: 15px;
  }
}

// store.selection  --------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------


// Note

@media (max-width: 1425px) {

  #selectionNote .info >div.articleInfo {
    .articleBasics {
      padding: 40px 0 0 0;
      width: 250px;
    }
    &.ft {
      .articleBasics {
        width: 430px;
        padding: 0 0 0 10px
      }
    }
  }


}

@media (max-width: 1304px) {
  #selectionNote .info >div.articleInfo {
    margin: 10px 30px 15px;
    width: 35%;
    .articleBasics {
      padding: 0 0 0 10px;
      width: 250px;
    }
    &.ft {

      .wrapper { width: 100%; }
      .articlePreview {
        width: 100%;
        img {
          height: auto;
          width: 100%;
        }
      }
      .articleBasics {
        width: 100%;
      }
    }
  }

  .ingredientInfo {
    width: 58%;
  }
}

@media (max-width: 1113px) {
  #selectionNote .info >div.articleInfo {
    margin: 10px 30px 15px;
    width: 30%;
    .articleBasics {
      padding: 0 0 0 10px;
      width: 250px;
    }
    // &.ft {
    //   .articleBasics {
    //     width: 430px;
    //   }
    // }
  }

  .ingredientInfo {
    width: 62%;
  }
}




// store.tray  -------------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------






// store.config  -----------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------





@media (max-width: 1404px) {

  #storeConfig > div#deliveryTimes {
    width: 348px;

  }
  #storeConfig > div#deliveryAreas {
    right: 378px;
  }

  .deliveryAreaCity, .deliveryAreaDistrict {
    width: 30%;
  }

}


@media (max-width: 1336px) {
  .deliveryAreaCity, .deliveryAreaDistrict {
    width: 25%;
  }
}

@media (max-width: 1156px) {
  .deliveryAreaCity, .deliveryAreaDistrict {
    width: 20%;
  }
}

@media (max-width: 1036px) {
  .deliveryAreaCity, .deliveryAreaDistrict {
    width: 15%;
  }
}

@media (min-width: 1405px) and (max-width: 1422px) {
  .deliveryAreaCity, .deliveryAreaDistrict {
    width: 18%;
  }
}

