// Min-Widths  -------------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------

aside#header {
  min-width: 555px;
}



@media (max-width: 1324px) {

  .deliveryTimes {
    width: 348px !important;

  }
  .deliveryAreas {
    right: 378px !important;
  }

}

@media (min-width: 1324px) {

  .deliveryTimes {
    width: 700px !important;
  }

}


@media (min-width: 1261px) {
  .note.selection .container .info .articleInfo {
    margin: 60px 30px 30px;
    width: 45%;
    .wrapper {
      width: 100%;
      >div {
        display: inline-block;
        &.articleBasics {
          width: 250px;
          margin-top: 60px;
          vertical-align: top;
          h3, p {
            padding-left: 20px;
          }
        }
      }
    }
    
  }
}

// @media (max-width: 1260px) {
//   .header {
//     width: 55% !important;
//   }
//   .articleInfo {
//     width: 45% !important;
//   }
// } 

// @media (max-width: 1116px) {
//   .header {
//     width: 57% !important;
//   }
  
//   .articleInfo {
//     width: 40% !important;
//   }
// } 



// store.home  -------------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------



// Items
// -----

.items {width: 100%;}

@media (max-width: 1076px) {

  .items {
    width: 718px;
  }

}

@media (min-width: 1077px) and (max-width: 1435px) {

  .items {
    width: 1077px;
  }

}

// Header
// ------

@media (max-width: 1304px) {

  aside#header {
    width: 55%;
  }

  .categoriesNavigation {
    width: 45%;
  }

}


@media (max-width: 1186px) {

  aside#header {

    span.sumContainer {
      width: 86px;
    }
  }


}

@media (max-width: 1113px) {

  aside#header {
    width: 58%;
    #headerCustomerContent {
      >div {
        padding: 0 7px;
      }
    }
    i.imgIcn {
      margin-right: 0;
    }

    div#clientAreaNavigation {
      .iBtn { margin: 24px 5px 0;}
      .bStoreConfig { margin-left: 12px;}
      .bStoreDashboard { margin-right: 12px;}
      .bClientDashboard, .bSignout { padding: 24px 12px 0; margin: 0;}
    }
  }

  .categoriesNavigation {
    width: 40%;
  }
}
