//
// Sprites
// --------------------------------------------------


// ICONS
// -----

// All icons receive the styles of the <i> tag with a base class
// of .i and are then given a unique class to add width, height,
// and background-position. Your resulting HTML will look like
// <i class="foundicon_inbox"></i>.

// For the white version of the icons, just add the .foundicon_white class:
// <i class="foundicon_inbox foundicon_white"></i>

.sBtn,
.sBdg {
  display: inline-block;
  width: 14px;
  height: 14px;
  .ie7-restore-right-whitespace();
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("@{iconSpritePath}");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-top: 1px;
  position: relative;
}

.sBdg {
  cursor: pointer;
}


.sBAdd         { background-position:      0      0  ; width:  29px; height:  29px; }
.sBRemove      { background-position:  -29px      0  ; width:  29px; height:  29px; }
.sBChecked     { background-position:  -58px      0  ; width:  29px; height:  29px; }
.sBUnchecked   { background-position:  -87px      0  ; width:  29px; height:  29px; }
.sBOpen        { background-position:  -61px  -30px  ; width:  61px; height:  61px;
  &.open      { background-position:      0  -30px  ; width:  61px; height:  61px; }
}  

.sBGreen        { background-position: -122px  -16px  ; width:  35px; height:  35px; }



