<div id="currentInfo">
	<i id="currentIcon" class="imgIcn"></i>
	<span></span>
</div>
<div id="clientAreaNavigation">
	<div class="iBtn" id="bStoreConfig" data-tooltip-message="views.header.store.config" data-tooltip-class="warning"></div><div class="iBtn" id="bClientConfig" data-tooltip-message="views.header.client.config" data-tooltip-class="warning"></div><div class="iBtn" id="bStoreAssortment" data-tooltip-message="views.header.store.assortment" data-tooltip-class="warning"></div><div class="iBtn" id="bStoreDashboard" data-tooltip-message="views.header.store.dashboard" data-tooltip-class="warning"><span>4</span></div><div class="iBtn" id="bClientDashboard" data-tooltip-message="views.header.client.dashboard" data-tooltip-class="warning"></div><div class="iBtn" id="bSignout" data-tooltip-message="views.header.store.logout" data-tooltip-class="warning"></div>
</div>