<div id="currentInfo">
	<i id="currentIcon" class="imgIcn"></i>
	<span></span>
</div>
<div id="clientAreaNavigation">
	<div class="iBtn" id="bStoreConfig" data-tooltip-message="views.header.store.config" data-tooltip-top="111" data-tooltip-left="63"></div><div class="iBtn" id="bClientConfig" data-tooltip-message="views.header.client.config" data-tooltip-top="111" data-tooltip-left="42"></div><div class="iBtn" id="bStoreAssortment" data-tooltip-message="views.header.store.assortment" data-tooltip-top="111" data-tooltip-left="77"></div><div class="iBtn" id="bStoreDashboard" data-tooltip-message="views.header.store.dashboard" data-tooltip-top="111" data-tooltip-left="81"><span class="numberOfUndoneOrders"><%= numberOfUndoneOrders %></span></div><div class="iBtn" id="bClientDashboard" data-tooltip-message="views.header.client.dashboard" data-tooltip-top="111" data-tooltip-left="50"></div><div class="iBtn" id="bSignout" data-tooltip-message="views.header.logout" data-tooltip-top="111" data-tooltip-left="22"></div>
</div>