




// Min-Widths  -------------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------

html, body, .main {
  min-width: 960px;
}

aside#header {
  // min-width: 615px;
}


// -------------------------------------------------------------------------------------------------------------------


// Important Header Breaking-Points:
//
// 1304px
// 1113px


// GLOBAL ------------------------------------------------------------------------------------------------------------

// Tooltips

@media (max-width: 1186px) {

  // .tooltipster-base.header {
  //   margin-left: 20px;
  // }
  .tooltipster-base.trayTooltip {
    margin-left: 21px;
  }
}


// home.home  --------------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------


@media (max-width: 1304px) {

  .locationSelection {
    width: 70%;
    margin: 0px 15% 0;
  }
}


@media (max-width: 1204px) {
  #actingHint #actingHintContainer {
    margin-top: -50px;
    padding: 0 21%;
  }
}

@media (max-width: 1000px) {
  #actingHint #actingHintContainer {
    padding: 0 14%;
  }
}



@media (max-width: 1113px) {
  .locationSelection {
    width: 80%;
    margin: 0px 10% 0;
  }
}


// store.home  -------------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------



// Items
// -----

.items {width: 100%;}


@media (min-width: 1451px) {

  .items { width: 1451px; }
}



@media (min-width: 1077px) and (max-width: 1450px) {
  
  .items { width: 1077px; }
}

@media (max-width: 1076px) {

  .items { width: 718px; }
}




// Header & store.home
// ------

@headerWidth-1360:   52%;

@media (max-width: 1360px) {

  aside#header {
    // max-width: @headerWidth-1360;
    // #currentInfo {
    //   max-width: 30%;
    //   span {
    //     max-width: 80%;
    //   }
    // }
  }

  #storeDeliveryDetails {
    width: @headerWidth-1360;
  }
}

@media (max-width: 1300px) {

  .onlyOnLarge {
    display: none;
  }
}


@headerWidth-1305:  52%;

@media (max-width: 1305px) {

  aside#header {
    // width: @headerWidth-1305;

    // #currentInfo {
    //   max-width: 30%;
    //   span {
    //     max-width: 80%;
    //   }
    // }

    #storeDeliveryDetails {
      // width: @headerWidth-1305;
    }

    i.imgIcn {
      margin-right: 0;
    }

    div#clientAreaNavigation {
      .iBtn { padding: 24px 5px 0;}
      #bClientDashboard, #bSignout { padding: 24px 12px 0; margin: 0;}
    }
  }
}



@headerWidth-1186:  58%;

@media (max-width: 1186px) {

  aside#header {
    #headerCustomerContent #trayPreview {
      height: 51px;
      padding-top: 16px;
    }
    span#sumContainer {
      width: 86px;
    }
    #headerCustomerContent {
      >div {
        padding: 0 7px;
      }
    }
  }
}


@media (max-width: 1430px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 460px;
  }
}

@media (max-width: 1420px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 450px;
  }
}


@media (max-width: 1410px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 440px;
  }
}


@media (max-width: 1410px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 440px;
  }
}


@media (max-width: 1400px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 430px;
  }
}


@media (max-width: 1390px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 420px;
  }
}


@media (max-width: 1380px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 410px;
  }
}

@media (max-width: 1370px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 400px;
  }
}

@media (max-width: 1360px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 390px;
  }
}

@media (max-width: 1350px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 380px;
  }
}

@media (max-width: 1340px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 370px;
  }
}

@media (max-width: 1330px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 360px;
  }
}

@media (max-width: 1320px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 350px;
  }
}

@media (max-width: 1310px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 340px;
  }
}

@media (max-width: 1300px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 330px;
  }
}

@media (max-width: 1290px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 320px;
  }
}

@media (max-width: 1280px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 310px;
  }
}

@media (max-width: 1270px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 300px;
  }
}

@media (max-width: 1260px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 290px;
  }
}

@media (max-width: 1250px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 280px;
  }
}


@media (max-width: 1240px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 270px;
  }
}

@media (max-width: 1230px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 260px;
  }
}

@media (max-width: 1220px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 250px;
  }
}

@media (max-width: 1210px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 240px;
  }
}

@media (max-width: 1200px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 240px;
  }

  #socialLinkage h3 {
    text-align: left;
  }
}

@media (max-width: 1190px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 230px + 50px;
  }
}

@media (max-width: 1180px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 220px + 50px;
  }
}

@media (max-width: 1170px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 210px + 50px;
  }
}

@media (max-width: 1160px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 200px + 50px;
  }
}

@media (max-width: 1150px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 190px + 50px;
  }
}

@media (max-width: 1140px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 180px + 50px;
  }
}

@media (max-width: 1130px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 170px + 50px;
  }
}

@media (max-width: 1120px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 160px + 50px;
  }
}

@media (max-width: 1110px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 160px + 50px;
  }
}

@media (max-width: 1100px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 150px + 50px;
  }
}

@media (max-width: 1090px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 140px + 50px;
  }
}

@media (max-width: 1080px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 130px + 50px;
  }
}


@media (max-width: 1070px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 120px + 50px;
  }
}

@media (max-width: 1060px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 110px + 50px;
  }
}

@media (max-width: 1050px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 100px + 50px;
  }
}

@media (max-width: 1040px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 90px + 50px;
    &:hover {
      &:before {
        margin-left: -55px;
      }
      span {
      padding-right: 55px;
      }
      // text-overflow: clip;
    }
  }
}

@media (max-width: 1030px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 80px + 50px;
  }
}

@media (max-width: 1020px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 70px + 50px;
  }
}

@media (max-width: 1010px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 60px + 50px;
  }
}


@media (max-width: 1000px) {
  aside#header #headerCustomerContent #currentInfo {
    max-width: 50px + 50px;
  }
}


// store.home  -------------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------


// store.selection  --------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------


// Note

// Footlongs don't need a description

.articleInfo.ft .articleDescription {
  display: none;
}


@media (max-width: 1425px) {

  #selectionNote .info >div.articleInfo {
    .articleBasics {
      // padding: 40px 0 0 0;
      width: 250px;
    }
    &.ft {
      .articleBasics {
        width: 430px;
        padding: 0 0 0 10px
      }
    }
    &.ctr {
      .articleBasics {
        padding: 0;
      }
    }
  }


}

@media (max-width: 1304px) {
  #selectionNote .info >div.articleInfo {
    margin: 10px 30px 15px;
    width: 35%;
    .articleBasics {
      padding: 0 0 0 10px;
      width: 250px;
    }

    .articleDescription {
      display: none;
    }

    &.ft {

      .wrapper { width: 100%; }
      .articlePreview {
        width: 100%;
        img {
          height: auto;
          width: 100%;
        }
      }
      .articleBasics {
        width: 100%;
      }
    }
    
    &.ctr {
      .articleBasics {
        width: 280px;
        h3 {
          padding-left: 0;
        }
      }
    }


  }

  .ingredientInfo {
    width: 58%;
  }
}

@media (max-width: 1113px) {
  #selectionNote .info >div.articleInfo {
    margin: 10px 30px 15px;
    width: 30%;
    .articleBasics {
      padding: 0 0 0 10px;
      width: 250px;
    }
    // &.ft {
    //   .articleBasics {
    //     width: 430px;
    //   }
    // }
  }

  .ingredientInfo {
    width: 62%;
  }
}




// store.tray  -------------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------

@media (max-width: 1160px) {

  #checkoutBonusOptions #subcardOption {
    width: 333px;
    &:after {
      width: 240px;
      margin-top: 8px;
    }
  }

  #checkoutReadyControls .ifSpace {
    display: none !important;
  }
}

@media (max-width: 1018px) {

  #checkoutBonusOptions #subcardOption {
    width: 333px;
    margin-left: 3%;
    &:after {
      width: 240px;
    }
  }
}

@media (max-width: 970px) {

  #minimumOrderValue span {
    padding-top: 10px;
    width: 470px;
  }
}



// store.config  -----------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------------------------





@media (max-width: 1404px) {

  #storeConfig > div#deliveryTimes {
    width: 348px;

  }
  #storeConfig > div#deliveryAreas {
    right: 378px;
  }

  .deliveryAreaCity, .deliveryAreaDistrict {
    width: 30%;
  }

}


@media (max-width: 1336px) {
  .deliveryAreaCity, .deliveryAreaDistrict {
    width: 25%;
  }
}

@media (max-width: 1156px) {
  .deliveryAreaCity, .deliveryAreaDistrict {
    width: 20%;
  }
}

@media (max-width: 1036px) {
  .deliveryAreaCity, .deliveryAreaDistrict {
    width: 15%;
  }
}

@media (min-width: 1405px) and (max-width: 1422px) {
  .deliveryAreaCity, .deliveryAreaDistrict {
    width: 18%;
  }
}

// MOBILE

@media only screen and (max-device-width: 480px) {
  html, body {
    width: 1000px !important;
  }
  }
