<section id="noSupport">
	<h1>Sorry, diesen Browser unterstützen wir nicht mehr.</h1>
	<p>Der Browser ist veraltet, und wird höchstwahrscheinlich von anderen Seiten auch nicht mehr unterstützt. Wir empfehlen dir, einen neueren Browser herunterzuladen. Das kannst du direkt hier machen:</p>
	<a href="http://www.mozilla.org/de/firefox/new/" target="_blank" class="iBtn bFirefox"></a>
	<a href="https://www.google.com/intl/de/chrome/browser/" target="_blank" class="iBtn bChrome"></a>
	<a href="http://windows.microsoft.com/de-de/internet-explorer/downloads/ie-9/worldwide-languages" target="_blank" class="iBtn bExplorer"></a>
</section>