<div class="note" id="homeNote">
	<div class="container">
		<div id="locationSelection">
			<div class="notice rightHandBelow">Lass dich suchen, oder sag uns selbst wo du bist. Eben ganz wie du magst.</div>
			<label for="locationSelectionInput">Wo wohnst du ?</label>
			<i class="icn iCompass" id="location"></i>
			<input type="text" placeholder="Postleitzahl" value="" id="locationSelectionInput">
			<div id="deliveryAreaSelection"></div>
		</div>
	</div>
</div>

<div class="content home">
	<div class="container">
		<section id="map"></section>
	</div>
</div>