<div class="wrapper">
	<div class="articlePreview">
		<img src="../../../../<%= image %>">
		<div class="pricetag">
			<div class="tagFst"></div>
			<div class="tag"></div>
			<div class="tag"></div>
			<div class="tag"></div>
			<div class="tag2ndlst"></div>
			<div class="tagLst"></div>
			<span class="firstVisible"><%= price %></span>
		</div>
	</div>
	<div class="articleBasics">
		<h3 class="articleTitle">
			<%= title %>
			<span class="badgeGreen articleSize">30<small>cm</small></span>
		</h3>
		<p class="articleDescription"><%= description %></p>
	</div>
	
</div>