<div id="popupContainer">
	<div id="locationSelection">
		<label id="locationLabel" for="locationSelectionInput">Wo wohnst du ?</label>
		<div id="deliveryAreaLabel">Wohin dürfen wir liefern ?</div>
		<div id="storeSelectionLabel">Der Store deiner Wahl ?</div>
		<div id="locationLoader">
			<div id="location"></div>
		</div>
		<input type="text" placeholder="Postleitzahl" value="" id="locationSelectionInput">
	</div>
	<div id="postalSelection">
	</div>
	<div id="deliveryAreaSelection" class="preSelectionInfo">
		Wähle dein Liefergebiet, um zum Store zu gelangen.
	</div>
</div>