<div id="popupContainer">
	<div id="locationSelection">
		<label id="locationLabel" for="locationSelectionInput">Wo wohnst du ?</label>
		<div id="deliveryAreaLabel">Wohin dürfen wir liefern ?</div>
		<div id="storeSelectionLabel">Der Store deiner Wahl ?</div>
		<div id="locationLoader">
			<div id="location"></div>
		</div>
		<input type="text" placeholder="Postleitzahl" value="" id="locationSelectionInput">
	</div>
	<div id="postalSelection">
		<span>87700</span><span>87766</span><span>87740</span><span>87734</span><span>87749</span><span>87779</span><span>87781</span><span>87751</span><span>87759</span><span>87748</span><span>87724</span><span>87760</span><span>87769</span>
	</div>
	<div id="deliveryAreaSelection" class="preSelectionInfo">
		Wähle dein Liefergebiet, um zum Store zu gelangen.
	</div>
</div>