<div id="deliveryAddressSettings">
	<header>
		<h1>Wohin soll deine Bestellung geliefert werden?</h1>
	</header>

	<div id="customerName">
		<div id="customerFirstname">
			<label for="customerFirstnameInput">Vorname</label>
			<input data-attribute="firstName" id="customerFirstnameInput" value="<%= firstName %>">
		</div>
		<div id="customerLastname">
			<label for="customerLastnameInput">Nachname</label>
			<input data-attribute="lastName" id="customerLastnameInput" value="<%= lastName %>">
		</div>
	</div>

	<div id="customerContact">
		<div id="customerPhone">
			<label for="customerPhoneInput">Tel</label>
			<input data-attribute="phone" id="customerPhoneInput" value="<%= phone %>">
		</div>
		<div id="customerEmail">
			<label for="customerEmailInput">Email</label>
			<input data-attribute="email" id="customerEmailInput" value="<%= email %>">
		</div>
	</div>

	<div id="customerAddress">
		<div id="customerStreet">
			<label for="customerStreetInput">Strasse</label>
			<input data-attribute="street" id="customerStreetInput" value="<%= street %>">
		</div>
		<div id="customerStreetNumber">
			<label for="customerStreetNumberInput">Nr</label>
			<input data-attribute="streetNumber" id="customerStreetNumberInput" value="<%= streetNumber %>">
		</div>
		<div id="customerAddressAdditional">
			<label for="customerAddressAdditionalInput">Zusatz</label>
			<input data-attribute="streetAdditional" id="customerAddressAdditionalInput" value="<%= streetAdditional %>">
		</div>
	</div>

	<div id="customerPostalCity">
		<div id="customerPostal">
			<label for="customerPostalInput">PLZ</label>
			<span id="customerPostalInput"><%= postal %></span>
		</div>
		<div id="customerCity">
			<label for="customerCityInput">Stadt</label>
			<span id="customerCityInput"><%= city %><% if (district) { %> (<%= district %>)<% } %> </span>
		</div>

	</div>
	<button id="save" class="btn btnSuccess">Weiter</button>
</div>
<div id="paymentSettings">
	Du zahlst <% if (allowsPaymentCash) { %><span data-method="cash" id="bar" <% if (selectedPaymentMethod === 'cash') { %>class="selected"<% } %>>Bar</span><% } %><% if (allowsPaymentEc) { %><span data-method="ec" id="ecCard" <% if (selectedPaymentMethod === 'ec') { %>class="selected"<% } %>>mit EC-Karte</span><% } %><% if (allowsPaymentPaypal) { %><span data-method="paypal" id="paypal" <% if (selectedPaymentMethod === 'paypal') { %>class="selected"<% } %>>via PayPal</span><% } %>
</div>