<div class="note" id="trayNote">
	<div class="container">
		<!-- <h1>Dein Tablett</h1> -->
		<section id="orderedItems"></section>
		<section id="checkoutControls">
			<div id="minimumOrderValue">
				<span id="bigBackToStore">zum Store</span>
				<span>Leider hast du den Mindestbestellwert von <span>16.00€</span> noch nicht erreicht. Du findest bestimmt noch was.</span>
			</div>
			<div id="checkoutDeliveryRegulation">
				<div id="deliveryTimeDisplay"></div>
				<div id="deliveryAdditionalNote"></div>
			</div>
			<div id="checkoutBonusOptions">
				<div id="gratisCookieOption" class="well"></div>
				<div id="subcardOption"></div>
			</div>
			<div id="checkoutBasicControls">
				<div id="noDeliveriesToday">Sorry heute liefern wir nicht mehr.</div>
			</div>
		</section>
		<section id="checkoutSettings">
			
		</section>
	</div>
</div>