<header>
	<div class="titleContainer">
		<div class="flag">
			<div class="flagBack"></div>
			<div class="flagFront">
				<h5><%= title %></h5>
			</div>
		</div>
		<div class="separator"></div>
	</div>
	<div class="notice leftHandAbove double">
		Das gleiche nochmal?
	</div>
	<div class="pricetag"><span><%= total.toFixed(2) %> €</span></div>
	<div class="controls">
		<i class="iBtn bAdd addItem"></i>
		<i class="iBtn bTrash deleteItem"></i>
	</div>
</header>

<div class="menuItems"></div>

<% if (amount > 1) { %>
<div class="amountOrderedItem">
	<div class="increaseAmount"></div>
	<div class="amount"><%= amount %></div>
	<div class="decreaseAmount"></div>
</div>
<% } %>