<div class="storeStreet">
	<label for="storeStreetInput">Addresse</label>
	<input id="storeStreetInput" data-field="street" value="<%= street %>">
</div>
<div class="storeStreet">
	<label for="storeStreetAdditionalInput">Zusatz</label>
	<input id="storeStreetAdditionalInput" data-field="streetAdditional" value="<%= streetAdditional %>">
</div>
<div class="storePostalCity">
	<div class="storePostal">
		<label for="storePostalInput">PLZ</label>
		<input id="storePostalInput" data-field="postal" value="<%= postal %>">
	</div>
	<div class="storeCity">
		<label for="storeCityInput">Stadt</label>
		<input id="storeCityInput" data-field="city" value="<%= city %>">
	</div>
</div>
<div class="storeContact">
	<div class="storePhone">
		<label for="storePhoneInput">Tel</label>
		<input id="storePhoneInput" data-field="phone" value="<%= phone %>">
	</div>
	<div class="storeEmail">
		<label for="storeEmailInput">Email</label>
		<input id="storeEmailInput" data-field="email" value="<%= email %>">
	</div>
</div>