<div class="note full">
	<div class="container">
		<section class="storeBasics">
			<div id="storeMap"></div>
			<div class="storeInfo"></div>
		</section>
		<section class="storeConfig">
			<div class="deliveryAreas">
				<header>
					<h2>Liefergebiete</h2>
				</header>
				<div class="unfolded">
					<i class="iBtn bAdd enclosed"></i>
				</div>
			</div>

			<div class="deliveryTimes">
				<header>
					<h2>Lieferzeiten</h2>
				</header>
				<div class="unfolded">

					<div class="businessDay" data-day="1">
						<div class="weekday">Mo</div>
						<div class="openingHours">
							<i class="iBtn bAdd enclosed"></i>
						</div>
					</div>

					<div class="businessDay" data-day="2">
						<div class="weekday">Di</div>
						<div class="openingHours">
							<i class="iBtn bAdd enclosed"></i>
						</div>
					</div>

					<div class="businessDay" data-day="3">
						<div class="weekday">Mi</div>
						<div class="openingHours">
							<i class="iBtn bAdd enclosed"></i>
						</div>
					</div>

					<div class="businessDay" data-day="4">
						<div class="weekday">Do</div>
						<div class="openingHours">
							<i class="iBtn bAdd enclosed"></i>
						</div>
					</div>

					<div class="businessDay" data-day="5">
						<div class="weekday">Fr</div>
						<div class="openingHours">
							<i class="iBtn bAdd enclosed"></i>
						</div>
					</div>

					<div class="businessDay" data-day="6">
						<div class="weekday">Sa</div>
						<div class="openingHours">
							<i class="iBtn bAdd enclosed"></i>
						</div>
					</div>

					<div class="businessDay" data-day="0">
						<div class="weekday">So</div>
						<div class="openingHours">
							<i class="iBtn bAdd enclosed"></i>
						</div>
					</div>

				</div>	

			</div>
		</section>
	</div>
</div>