<div class="note full">
	<div class="container">
		<section class="storeBasics">

			<div class="storeInfo">

				<h1 class="storeName"><i class="sBtn sBOpen <% if (isOpen) { %>open<% } %>"></i><%= title %></h1>

				<div class="storeData">
					<div class="storeAddress"></div>
					<div class="storeOrderingContact well">
						<label for="storeOrderingContactInput">Bestellungen an</label>
						<input id="storeOrderingContactInput" placeholder="z.B. bestellungen@subtohome.de" value="">
					</div>
					<div class="bankDetails darkback">
						<div class="bankaccountOwner">
							<label for="bankaccountOwnerInput">Kontoinhaber</label>
							<input id="bankaccountOwnerInput" value="">
						</div>
						<div class="bankaccountNr">
							<label for="bankaccountNrInput">Kto</label>
							<input id="bankaccountNrInput" placeholder="Kontonummer" value="">
						</div>
						<div class="bankId">
							<div class="bankCodeNr">
								<label for="bankCodeNrInput">BLZ</label>
								<input id="bankCodeNrInput" value="">
							</div>
							<div class="bankName">
								<label for="bankNameInput">Bank</label>
								<input id="bankNameInput" placeholder="Bankname" value="">
							</div>
						</div>
						<button class="btn bankaccount btnSuccess">Fertig</button>
					</div>

					<div class="bankOptions">
						<button class="btn btnDarkInfo bankaccount">Bankdaten</button>

						<div class="btn-group disabled">	
							<button class="btn btnInfo"id="ec">EC</button>
							<button class="btn btnInfo" id="checkEC"><i class="icn iCheck"></i></button>
						</div>
						<div class="btn-group disabled">	
							<button class="btn btnInfo"id="bar">Bar</button>
							<button class="btn btnInfo" id="checkBar"><i class="icn iCheck"></i></button>
						</div>
						<div class="btn-group disabled">	
							<button class="btn btnInfo" id="paypal">PayPal</button>
							<button class="btn btnInfo" id="checkPaypal"><i class="icn iCheck"></i></button>
						</div>
					</div>


				</div>	
			</section>
			<section class="storeConfig">
				<div class="deliveryAreas">
					<header class="folded">
						<h3>Liefergebiete</h3>
						<div class="headingSeparator"></div>
					</header>
					<div class="unfolded">

						<!-- delivery areas da rein -->

						<i class="sBtn sBAdd"></i>
					</div>
				</div>

				<div class="deliveryTimes">
					<header class="folded">
						<h3>Lieferzeiten</h3>
						<div class="headingSeparator"></div>
					</header>
					<div class="unfolded">

						<div class="businessDay" data-day="1">
							<div class="weekday">Mo</div>
							<div class="openingHours">
								<i class="sBtn sBAdd"></i>
							</div>
						</div>

						<div class="businessDay" data-day="2">
							<div class="weekday">Di</div>
							<div class="openingHours">
								<i class="sBtn sBAdd"></i>
							</div>
						</div>

						<div class="businessDay" data-day="3">
							<div class="weekday">Mi</div>
							<div class="openingHours">
								<i class="sBtn sBAdd"></i>
							</div>
						</div>

						<div class="businessDay" data-day="4">
							<div class="weekday">Do</div>
							<div class="openingHours">
								<i class="sBtn sBAdd"></i>
							</div>
						</div>

						<div class="businessDay" data-day="5">
							<div class="weekday">Fr</div>
							<div class="openingHours">
								<i class="sBtn sBAdd"></i>
							</div>
						</div>

						<div class="businessDay" data-day="6">
							<div class="weekday">Sa</div>
							<div class="openingHours">
								<i class="sBtn sBAdd"></i>
							</div>
						</div>

						<div class="businessDay" data-day="0">
							<div class="weekday">So</div>
							<div class="openingHours">
								<i class="sBtn sBAdd"></i>
							</div>
						</div>

					</div>	

				</div>
			<!-- <div class="payments">
				<i class="icn iPaypal"></i>
				<i class="icn iBar"></i>
				<i class="icn iWap disabled"></i>
				<i class="icn iEC"></i>
			</div> -->
		</section>
	</div>
</div>