<h1 class="storeName"><i class="sBtn sBOpen <% if (isOpen) { %>open<% } %>"></i><%= title %> <span>(<%= number %>)</span></h1>

<div class="storeData">
	<div class="storeAddress"></div>
	<div class="storeOrderingContact well">
		<label for="storeOrderingContactInput">Bestellungen an</label>
		<input id="storeOrderingContactInput" placeholder="z.B. bestellungen@subtohome.de" value="<%= orderEmail %>">
	</div>
	<!-- <div class="bankDetails darkback">
		<div class="bankaccountOwner">
			<label for="bankaccountOwnerInput">Kontoinhaber</label>
			<input id="bankaccountOwnerInput" value="">
		</div>
		<div class="bankaccountNr">
			<label for="bankaccountNrInput">Kto</label>
			<input id="bankaccountNrInput" placeholder="Kontonummer" value="">
		</div>
		<div class="bankId">
			<div class="bankCodeNr">
				<label for="bankCodeNrInput">BLZ</label>
				<input id="bankCodeNrInput" value="">
			</div>
			<div class="bankName">
				<label for="bankNameInput">Bank</label>
				<input id="bankNameInput" placeholder="Bankname" value="">
			</div>
		</div>
		<button class="btn bankaccount btnSuccess">Fertig</button>
	</div> -->

	<div class="bankOptions">
		<!-- <button class="btn btnDark bankaccount">Bankdaten</button> -->

			<button class="btn btnSuccess <% if (!allowsPaymentEc) { %>disabled<% } %>" id="checkEC">EC <i class="icn <% if (allowsPaymentEc) { %>iCheck<% } else { %>iClose<% } %>"></i></button>

			<button class="btn btnSuccess <% if (!allowsPaymentCash) { %>disabled<% } %>" id="checkBar">Bar <i class="icn <% if (allowsPaymentCash) { %>iCheck<% } else { %>iClose<% } %>"></i></button>

		<div class="btn-group <% if (!allowsPaymentPaypal) { %>disabled<% } %>">	
			<button class="btn btnSuccess" id="paypal"><i class="icn iSettings"></i></button>
			<button class="btn btnSuccess" id="checkPaypal">Paypal <i class="icn <% if (allowsPaymentPaypal) { %>iCheck<% } else { %>iClose<% } %>"></i></button>
		</div>
	</div>