<article id="howItWorks">
	<header>
		<h1>So funktioniert's</h1>
	</header>
	<div>
		<img src="../img/static/common/system_info.png" alt="">
	</div>
</article>

<article id="nutritionInfo">
	<header>
		<h1>Nährwertangaben</h1>
	</header>
	<p>
		Alle Infos über Nährwerte, Zusatzstoffe etc. sind hier als PDF verfügbar.
	</p>
	<a href="files/static/naehrwerte.pdf" class="iBtn bNutritionfacts"></a>
	<a href="files/static/zusatzstoffe.pdf" class="iBtn bAdditives"></a>
</article>

<article>
	<header>
		<h1>Partner werden</h1>
	</header>
	<div class="twoColumn">
		<header>
			<h3>Ein professioneller Lieferservice braucht eine professionelle Onlinetheke.</h3>
		</header>
		<p>
			Weil unser Bestellablauf bis ins Detail dem an der SUBWAY®-Theke gleicht, finden sich sowohl Mitarbeiter als auch Gäste sofort zurecht. Denn nicht nur vor der Theke, sondern auch dahinter bestehen die gewohnten SUBWAY®-Abläufe.
		</p><p>
			Das ist der Grund, warum wir sub2home auch getrost "SUBWAY®-Onlinetheke" nennen können.
		</p>
	</div>
	<div class="twoColumn">
		<p>
			Sie sind SUBWAY®-Franchisepartner und haben Interesse an der SUBWAY®-Onlinetheke? Gerne lassen wir Ihnen unverbindlich Informationen zukommen. Die Anmeldung ist kostenlos und in wenigen Schritten getan. Und wenn das Thema Lieferservice neu für Sie ist, greifen wir Ihnen selbstverständlich auch bei der Einrichtung im Store unter die Arme.
		</p><p>
			Unsere Kontaktdaten finden Sie im nächsten Abschnitt.
		</p>
	</div>
</article>

<article>
	<header>
		<h1>Kontakt</h1>
	</header>
	<div class="oneColumn">
		<header>
			<h3><a href="mailto:kontakt@sub2home.com">kontakt@sub2home.com</a></h3>
		</header>
		<p>
			sub2home / SUBWAY® Memmingen
		</p><p>
			Sebastian Weigold<br>
			Maximilianstraße 7<br>
			87700 Memmingen
		</p><p>
			Telefon:&nbsp;&nbsp;0 83 31 83 38 43 3 <br>
			Telefax:&nbsp;&nbsp;0 83 31 83 38 43 4 <br>
			Email: kontakt@sub2home.com
		</p>
	</div>
</article>