<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
>
    
	<testsuites>
		<testsuite name="unit">
			<directory>./app/tests/</directory>
		</testsuite>
		<testsuite name="integration">
			<directory>./app/tests/</directory>
			<logging>
				<log type="coverage-html" target="./coverage" charset="UTF-8" />
			</logging>
		</testsuite>
	</testsuites>
</phpunit>
