<div id="loader">
	<div id="loadbarBackground">
		<div id="loadbar"></div>
	</div>
</div>
<div class="note" id="assortmentNote">
	<div id="sectionsNavigation">
		<div id="categoriesNavigationContainer">
			<div id="stageTimeline"></div>
			<div id="overlayTimeline">
				<div id="overlayFrameTimeline">
					<div id="overlayFrameWrapperTimeline"></div>
				</div>
				<div id="magnifier"></div>
			</div>
		</div>
	</div>
	<div class="assortmentControls articles"></div>
	<div class="assortmentControls menuUpgrades"></div>
	<div class="assortmentControls menuBundles"></div>
	<div class="assortmentControls ingredients"></div>
</div>
<div class="content store assortment">
	<div id="stage">
		<div class="slide articles"></div><div class="slide menuUpgrades"></div><div class="slide menuBundles"></div><div class="slide ingredients"></div>
	</div>
</div>
<div class="popup" id="articleChainPopup">
	<div id="popupContainer">
		<header>
			<img src="https://d3uu6huyzvecb1.cloudfront.net/images/articles/smallimages/subs/bbqrib-st.png" alt="">
			<h3>Dieser Artikel ist mit folgenden Artikeln verknüpft.<br>Willst du diese auch deaktivieren / aktivieren</h3>
			<i class="iBtn bClose"></i>
		</header>
		<div id="chainedArticleList">
			<div id="editAllChainedArticles">
				<div class="iBtn bEye"></div>
				<h3>Alle aktivieren / deaktivieren</h3>
			</div>
			<div class="chainedArticle">
				<div class="iBtn bEye"></div>
				<img src="https://d3uu6huyzvecb1.cloudfront.net/images/articles/smallimages/subs/bbqribFtlng-ft.png" alt="">
				<h3>
					BBQ-Rib<span class="sizeLabel">footlong</span>
				</h3>
			</div>
		</div>
	</div>
</div>