<div class="errorContainer">
</div>
<div class="editBasicData">
	<span>#</span>
	<input type="text" data-attribute="number" class="editClientNumber" value="<%= number %>">
	<label class="labelEditClientFirstname">Vorname</label>
	<input type="text" data-attribute="firstName" class="editClientAddress editClientFirstname" value="<%= firstName %>">
	<label class="labelEditClientLastname">Nachname</label>
	<input type="text" data-attribute="lastName" class="editClientAddress editClientLastname" value="<%= lastName %>">
</div>
<div class="editContactData">
	<div class="column">
		<label>Straße</label>
		<input type="text" data-attribute="street" class="editClientAddress editClientStreet" value="<%= street %>">
		<label class="secondRow">Zusatz</label>
		<input type="text" data-attribute="streetAdditional" class="editClientAddress editClientStreetAdditional" value="<%= streetAdditional %>">
	</div>	
	<div class="column">
		<label>PLZ</label>	
		<input type="text" data-attribute="postal" class="editClientAddress editClientPostal" value="<%= postal %>">
		<label class="secondRow">STADT</label>
		<input type="text" data-attribute="city" class="editClientAddress editClientCity" value="<%= city %>">
	</div>
	<div class="column">
		<label>Tel</label>
		<input type="text" data-attribute="phone" class="editClientAddress editClientPhone" value="<%= phone %>">
		<label class="secondRow">Email</label>
		<input type="text" data-attribute="email" class="editClientAddress editClientEmail" value="<%= email %>">
	</div>
	<br class="clear">
</div>
<div>
	<div class="column">
		<label>Passwort</label>
		<input type="password" class="editClientPassword">
	</div>
	<div class="column">
		<label>WDH</label>
		<input type="password" class="editClientPasswordRepeat">
	</div>
	<div class="column">
		<div class="btn-group">
			<button class="changePassword btn">Passwort ändern</button>
			<button class="deleteClient btn">Client löschen</button>
			<button class="close btn">Schließen</button>
		</div>
	</div>
	<br class="clear">
</div>