<div class="foldedClient">	
	<div class="clientNumber">#<%= number %></div>
	<div class="clientTitle"><%= name %></div>
	<div class="iconEditYellowSmall"></div>
	<div class="iconAddSmall" title="Neuer Store"></div>
	<div class="clientMemberSince"><%= createdAt %></div>
	<div class="clientMonthlyTurnover"><%= monthlyTurnover %> €</div>
	<div class="clientTotalTurnover"><%= totalTurnover %> €</div>
	<div class="clientMonthlyOrders"><%= monthlyOrders %></div>
	<div class="clientTotalOrders"><%= totalOrders %></div>
	<br class="clear">
</div>
<div class="unfoldedClient"></div>
<div class="editClient"></div>