<div id="content">
	<article class="searchbarContainer">
		<section>
			<div class="addNewClient">
				<i class="iconAddBig"></i>Kunde hinzufügen
			</div>
			<input type="text" class="searchbar" value="">
			<i class="iconClear"></i>
			<br class="clear">
		</section>
	</article>

	<article class="clientListing">
		<header>
			<div class="clientNumber sort" data-field="number">KdNr.</div>
			<div class="clientTitle sort" data-field="name">Name</div>
			<div class="clientMemberSince sort" data-field="createdAt">Mitglied seit</div>
			<div class="clientMonthlyTurnover sort" data-field="monthlyTurnover"><span>&empty;</span> Umsatz</div>
			<div class="clientTotalTurnover sort" data-field="totalTurnover"><span>&infin;</span> Umsatz</div>
			<div class="clientMonthlyOrders sort" data-field="monthlyOders"><span>&empty;</span> Best.</div>
			<div class="clientTotalOrders sort" data-field="totalOrders"><span>&infin;</span> Best.</div>
			<br class="clear">
		</header>

		<section></section>

	</article>
</div>