<div class="iconActive <% if (isActive) { %>isActive<% } %>">
	<div class="iconOpen <% if (isOpen) { %>isOpen<% } %>"></div>
</div>
<div class="storeInfo">
	<div class="storeNumberContainer">
		<h3 class="storeNumber"><%= number %></h3>
		<input data-attribute="" class="storeNumberInput" type="text" value="<%= number %>" />
	</div>
	<div class="storeTitleContainer">
		<h1 class="storeTitle"><%= title %></h1>
		<input data-attribute="" class="storeTitleInput" placeholder="Store-Name" type="text" value="<%= title %>" />
	</div>
	<p class="storeLocation"><%= street %>, <%= postal %> <%= city %></p>
</div>
<div class="icon iconRemove"></div>
<div class="clientMemberSince"><%= createdAt %></div>
<div class="clientMonthlyTurnover"><%= monthlyTurnover %> €</div>
<div class="clientTotalTurnover"><%= totalTurnover %> €</div>
<div class="clientMonthlyOrders"><%= monthlyOrders %></div>
<div class="clientTotalOrders"><%= totalOrders %></div>
<br class="clear">