<header>
	<h2>Adressdaten</h2>
</header>
<div class="clientName">
	<div class="clientFirstname">
		<label for="clientFirstnameInput">Vorname</label>
		<input id="clientFirstnameInput" data-field="firstName" placeholder="Vorname" value="<%= firstName %>">
	</div>
	<div class="clientLastname">
		<label for="clientLastnameInput">Nachname</label>
		<input id="clientLastnameInput" data-field="lastName" placeholder="Nachname" value="<%= lastName %>">
	</div>
</div>


<div class="clientStreet">
	<div class="clientStreetBasic">
		<label for="clientStreetInput">Addresse</label>
		<input id="clientStreetInput" data-field="street" value="<%= street %>">
	</div>

	<div class="clientStreetAdditional">
		<label for="clientStreetAdditionalInput">Zusatz</label>
		<input id="clientStreetAdditionalInput" data-field="streetAdditional" value="<%= streetAdditional %>">
	</div>
</div>

<div class="clientPostalCity">
	<div class="clientPostal">
		<label for="clientPostalInput">PLZ</label>
		<input id="clientPostalInput" data-field="postal" value="<%= postal %>">
	</div>
	<div class="clientCity">
		<label for="clientCityInput">Stadt</label>
		<input id="clientCityInput" data-field="city" value="<%= city %>">
	</div>
</div>
<div class="clientContact">
	<div class="clientPhone">
		<label for="clientPhoneInput">Tel</label>
		<input id="clientPhoneInput" data-field="phone" value="<%= phone %>">
	</div>
	<div class="clientEmail">
		<label for="clientEmailInput">Email</label>
		<input id="clientEmailInput" data-field="email" value="<%= email %>">
	</div>
</div>