<header>
	<h2>Kontodaten</h2>
</header>
<div id="bankaccountOwner">
	<label for="bankaccountOwnerInput">Kontoinhaber</label>
	<input data-field="name" id="bankaccountOwnerInput" value="<%= name %>">
</div>
<div id="bankaccountNr">
	<label for="bankaccountNrInput">Kto</label>
	<input data-field="accountNumber" id="bankaccountNrInput" placeholder="Kontonummer" value="<%= accountNumber %>">
</div>
<div id="bankId">
	<div id="bankCodeNr">
		<label for="bankCodeNrInput">BLZ</label>
		<input data-field="bankCodeNumber" id="bankCodeNrInput" value="<%= bankCodeNumber %>">
	</div>
	<div id="bankName">
		<label for="bankNameInput">Bank</label>
		<input data-field="bankName" id="bankNameInput" placeholder="Bankname" value="<%= bankName %>">
	</div>
</div>
<!-- <button class="btn bankaccount btnSuccess">Fertig</button> -->