<div class="note full">
	
	<section class="clientBasics">
		<h1>Sebastian Weigold</h1>
		<div class="clientNr"><span>Kunden-Nr.</span>41093</div>
		<div class="editPassword">Passwort ändern</div>
	</section>

	<section class="clientConfig">
		


		<div class="clientAddress">
			<header>
				<h2>Adressdaten</h2>
			</header>
			<div class="clientName">
				<div class="clientFirstname">
					<label for="clientFirstnameInput">Vorname</label>
					<input id="clientFirstnameInput" data-field="firstName" placeholder="Vorname" value="Sebastian">
				</div>
				<div class="clientLastname">
					<label for="clientLastnameInput">Nachname</label>
					<input id="clientLastnameInput" data-field="lastName" placeholder="Nachname" value="Weigold">
				</div>
			</div>


			<div class="clientStreet">
				<div class="clientStreetBasic">
					<label for="clientStreetInput">Addresse</label>
					<input id="clientStreetInput" data-field="street" value="Holunderweg 15">
				</div>

				<div class="clientStreetAdditional">
					<label for="clientStreetAdditionalInput">Zusatz</label>
					<input id="clientStreetAdditionalInput" data-field="streetAdditional" value="">
				</div>
			</div>

			<div class="clientPostalCity">
				<div class="clientPostal">
					<label for="clientPostalInput">PLZ</label>
					<input id="clientPostalInput" data-field="postal" value="77364">
				</div>
				<div class="clientCity">
					<label for="clientCityInput">Stadt</label>
					<input id="clientCityInput" data-field="city" value="Memmingen">
				</div>
			</div>
			<div class="clientContact">
				<div class="clientPhone">
					<label for="clientPhoneInput">Tel</label>
					<input id="clientPhoneInput" data-field="phone" value="0117 458 340 34">
				</div>
				<div class="clientEmail">
					<label for="clientEmailInput">Email</label>
					<input id="clientEmailInput" data-field="email" value="s.weigold@tollemail.de">
				</div>
			</div>
		</div>

		<div class="clientBankData">
			<header>
				<h2>Kontodaten</h2>
			</header>
			<div class="bankaccountOwner">
				<label for="bankaccountOwnerInput">Kontoinhaber</label>
				<input id="bankaccountOwnerInput" value="">
			</div>
			<div class="bankaccountNr">
				<label for="bankaccountNrInput">Kto</label>
				<input id="bankaccountNrInput" placeholder="Kontonummer" value="">
			</div>
			<div class="bankId">
				<div class="bankCodeNr">
					<label for="bankCodeNrInput">BLZ</label>
					<input id="bankCodeNrInput" value="">
				</div>
				<div class="bankName">
					<label for="bankNameInput">Bank</label>
					<input id="bankNameInput" placeholder="Bankname" value="">
				</div>
			</div>
			<!-- <button class="btn bankaccount btnSuccess">Fertig</button> -->

		</div>

	</section>

</div>