<h1><%= name %></h1>
<div id="clientNr"><span>Kunden-Nr.</span><%= number %></div>
<div id="triggerEditPassword">
	<p><i class="icn iKey"></i>Passwort ändern</p>
	<div id="submitNewPassword" class="disabled">Fertig</div>
	<div id="cancelEditPassword"></div>
</div>
<div id="editPassword">
	<div class="well"><input id="currentPassword" type="password" placeholder="altes Passwort"></div>

	<div class="well">
		<input id="newPasswordFirst" type="password" placeholder="neues Passwort">
		<input id="newPasswordSecond" type="password" placeholder="Passwortwiederholung">
	</div>
</div>