<header>
	<h2>Adressdaten</h2>
</header>
<div id="clientName">
	<div id="clientFirstname">
		<label for="clientFirstnameInput">Vorname</label>
		<input id="clientFirstnameInput" data-field="firstName" placeholder="Vorname" value="<%= firstName %>">
	</div>
	<div id="clientLastname">
		<label for="clientLastnameInput">Nachname</label>
		<input id="clientLastnameInput" data-field="lastName" placeholder="Nachname" value="<%= lastName %>">
	</div>
</div>


<div id="clientStreet">
	<div id="clientStreetBasic">
		<label for="clientStreetInput">Straße</label>
		<input id="clientStreetInput" data-field="street" value="<%= street %>">
	</div>
	<div id="clientStreetNumber">
		<label for="clientStreetNumberInput">Nr</label>
		<input id="clientStreetNumberInput" data-field="streetNumber" value="<%= streetNumber %>">
	</div>

	<div id="clientStreetAdditional">
		<label for="clientStreetAdditionalInput">Zusatz</label>
		<input id="clientStreetAdditionalInput" data-field="streetAdditional" value="<%= streetAdditional %>">
	</div>
</div>

<div id="clientPostalCity">
	<div id="clientPostal">
		<label for="clientPostalInput">PLZ</label>
		<input id="clientPostalInput" data-field="postal" value="<%= postal %>">
	</div>
	<div id="clientCity">
		<label for="clientCityInput">Stadt</label>
		<input id="clientCityInput" data-field="city" value="<%= city %>">
	</div>
	<div id="clientDistrict">
		<label for="clientDistrictInput">Stadtteil</label>
		<input id="clientDistrictInput" data-field="district" value="<%= district %>">
	</div>
</div>
<div id="clientContact">
	<div id="clientPhone">
		<label for="clientPhoneInput">Tel</label>
		<input id="clientPhoneInput" data-field="phone" value="<%= phone %>">
	</div>
	<div id="clientEmail">
		<label for="clientEmailInput">Email</label>
		<input id="clientEmailInput" data-field="email" value="<%= email %>">
	</div>
</div>