<div class="note" id="revenuesNote">
	<div class="container">
		<div id="toggleRevenues">
			<i class="icn iTurnover" id="turnover"></i>
			<h3>Umsätze für <%= title %></h3>
		</div>
		<div id="orderControls">
			<div id="searchbar">
				<input id="search" type="text" value="" placeholder="Bestellungen suchen">
			</div>
			<div class="iBtn bRefresh" id="refresh"></div>
		</div>
		<div id="revenues">
			<div id="turnoverContainer"></div>
		</div>
	</div>
</div>

<div class="content orders">
	<div id="noOrders"></div>
	<div id="orderListing">
		<div id="ordersToday"></div>
		<div id="olderOrders"></div>
		<div id="loadMore">Ältere Bestellungen</div>
	</div>
	<div class="popup" id="balanceOrder"></div>
</div>