<div class="orderHeader">
	<div class="orderStatus <% if (isDelivered) { %>delivered<% } %> iBtn"></div>
	<div class="orderNumber"><%= number %></div>
	<div class="alertOrder iBtn bBell <% if (hasCredit) { %>claimed<% } %>"></div>
	<div class="orderTime"><%= dateOrTime %></div>
	<div class="orderDestination"><%= postal %> <%= city %><% if (district) { %> (<%= district %>)<% } %></div>


	<div class="iBtn bMail resendmail"></div>
	<div class="orderValue <% if (totalWithCredit < total) { %>crossedOut<% } %>"><%= total.toFixed(2) %>€</div>
	<% if (totalWithCredit < total) { %><div class="orderValueWithCredit"><%= totalWithCredit.toFixed(2) %>€</div><% } %>
	<div class="orderPaymentMethod iBtn <%= paymentMethodClass %>"></div>
	<div class="orderTimeLimit"><%= dueTime %></div>
</div>
<div class="orderContent"></div>