
<div id="countdown">
	<% if (minutes > 5) { %>
		<%= hours %><span>:</span><span class="emphasized"><%= minutes %></span>
	<% } else if (minutes > 0) { %>
		<div>Weniger als 5 Minuten</div>
	<% } else { %>
		<div>Wir sind jeden Augenblick da.</div>
	<% } %>
</div>
<div id="thxText">

	<span>Danke für deine Bestellung, <%= firstName %>. Wir sind ca. <span class="emphasized"><%= dueTime %> Uhr</span> bei dir in der <%= street %>.</span>
	<!-- <div class="notice">Wenn du noch Fragen hast, wähle <%= storePhone %>.</div> -->
	<p>Wenn du noch Fragen hast, wähle <%= storePhone %> oder schreib eine Mail an <a href="<%= storeEmail %>"><%= storeEmail %></a></p>
</div>
<div id="socialLinkage">
<h3>Zufrieden mit der Onlinetheke? Schenk uns ein Like oder Share auf Facebook.</h3>
<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fsub2home&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=409196579150445" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
</div>
