
<div id="countdown">
	<% if (minutes > 5) { %>
		<%= hours %><span>:</span><span class="emphasized"><%= minutes %></span>
	<% } else if (minutes > 0) { %>
		<div>Weniger als 5 Minuten</div>
	<% } else { %>
		<div>Wir sind jeden Augenblick da.</div>
	<% } %>
</div>
<div id="thxText">
	
	<span>Danke für deine Bestellung, <%= firstName %>. Wir sind ca. <span class="emphasized"><%= dueTime %> Uhr</span> bei dir in der <%= street %>.</span>
	<div class="notice">Wenn du noch Fragen hast, wähle <%= storePhone %>.</div>
</div>