<div class="note full">
	<div class="container">
		<section id="storeBasics">
			<!-- <div class="notice leftHandAbove">Bei einer Adressänderung wird die Karte aktualisiert</div> -->
			<div id="storeMap"></div>
			<div id="storeInfo"></div>
		</section>
		<section id="storeConfig">
			<div id="deliveryAreas">
				<header>
					<h2>Liefergebiete</h2>
				</header>
				<div class="configContent">
					<i class="iBtn bAdd enclosed"></i>
				</div>
			</div>

			<div id="deliveryTimes">
				<header>
					<h2>Lieferzeiten</h2>
				</header>
				<div class="configContent">

					<div class="businessDay" data-day="1">
						<div class="weekday">Mo</div>
						<div class="openingHours">
							<i class="iBtn bAdd enclosed"></i>
						</div>
					</div>

					<div class="businessDay" data-day="2">
						<div class="weekday">Di</div>
						<div class="openingHours">
							<i class="iBtn bAdd enclosed"></i>
						</div>
					</div>

					<div class="businessDay" data-day="3">
						<div class="weekday">Mi</div>
						<div class="openingHours">
							<i class="iBtn bAdd enclosed"></i>
						</div>
					</div>

					<div class="businessDay" data-day="4">
						<div class="weekday">Do</div>
						<div class="openingHours">
							<i class="iBtn bAdd enclosed"></i>
						</div>
					</div>

					<div class="businessDay" data-day="5">
						<div class="weekday">Fr</div>
						<div class="openingHours">
							<i class="iBtn bAdd enclosed"></i>
						</div>
					</div>

					<div class="businessDay" data-day="6">
						<div class="weekday">Sa</div>
						<div class="openingHours">
							<i class="iBtn bAdd enclosed"></i>
						</div>
					</div>

					<div class="businessDay" data-day="0">
						<div class="weekday">So</div>
						<div class="openingHours">
							<i class="iBtn bAdd enclosed"></i>
						</div>
					</div>

				</div>

			</div>
		</section>
	</div>
</div>
<div class="popup scrollablePopup">
  <div id="popupContainer">
     <div id="storeClosedMessage">
       <h3>
        Sie sind dabei, Ihren Store vorübergehend zu schließen. Um Ihre Gäste über Gründe und/oder eine Wiedereröffnung zu informieren, geben Sie im folgenden Feld eine Nachricht an:
      </h3>
      <p>Die Schließung tritt unmittelbar in Kraft, es erfolgt keine weitere Überprüfung, sie können dies jedoch durch erneuten Klick auf den Button wieder rückgängig machen.</p>
      
      <textarea cols="10" rows="5" placeholder="Eine Nachricht an Ihre Gäste" class="closedInfoInput"></textarea>
      <div class="buttonContainer">
        <div class="btn btnWarning">Store vorrübergehend schließen</div>
      </div>
     </div>
  </div>
</div>