<div id="popupContainer">
    <header>
        <h3>Dieser Artikel gehört der Gruppe <span>BBQ-Rib Sandwiches</span> an</h3>
        <div id="articleChainPreview">
        	
			<div class="imgContainer">
				<img src="https://s3-eu-west-1.amazonaws.com/sub2home-static/images/articles/smallimages/subs/bbqrib-st.png" alt="">
			</div>
			<div class="imgContainer disabled">
				<img src="https://s3-eu-west-1.amazonaws.com/sub2home-static/images/articles/smallimages/subs/bbqribFtlng-ft.png" alt="">
			</div>
			<i class="iBtn bCheck"></i>
		</div>
    </header>
    <div id="editAllChainedArticles">
		<div class="iBtn bEye<% if (!isActive) { %> open<% } %>"></div>
		<h3>Alle <% if (isActive) { %>de<% } %>aktivieren</h3>
	</div>
	<div id="editThisChainedArticle">
		<div class="iBtn bEye<% if (!isActive) { %> open<% } %>"></div>
		<h3>Nur <%= title %><% if (info) { %><span class="sizeLabel"><%= info %></span> <% } %><% if (isActive) { %>de<% } %>aktivieren</h3>
	</div>
    <h4 id="toggleChainedArticleList">Vollständige Artikelliste sehen</h4>
    <div id="chainedArticleList"></div>
</div>