<div id="popupContainer">
    <header>
        <img src="<%= image %>" alt="">
        <h3>Dieser Artikel ist mit folgenden Artikeln verknüpft.<br>Wollen Sie diese auch <% if (isActive) { %>de<% } %>aktivieren ?</h3>
        <i class="iBtn bClose"></i>
    </header>
    <div id="chainedArticleList">
        <div id="editAllChainedArticles">
            <div class="iBtn bEye<% if (!isActive) { %> open<% } %>"></div>
            <h3>Alle <% if (isActive) { %>de<% } %>aktivieren</h3>
        </div>
        <div id="chainedArticleBase" class="chainedArticle">
            <div class="iBtn bEye<% if (isActive) { %> open<% } %>"></div>
            <h3>Nur <%= title %><% if (info) { %><span class="sizeLabel"><%= info %></span> <% } %><% if (isActive) { %>de<% } %>aktivieren</h3>
        </div>
    </div>
</div>