
	<div class="optionalComponent phd pColdBev">
		<img src="../../../<%= firstMenuComponentOptionImage %>" alt="">
		<div class="componentInfo"><%= firstMenuComponentOptionTitle %></div>
	</div>
	<div class="optionalComponent phd pCookie">
		<img src="../../../<%= secondMenuComponentOptionImage %>" alt="">
		<div class="componentInfo"><%= secondMenuComponentOptionTitle %><br/>nach Wahl</div>
	</div>
	<div class="baseComponent"><img src="../../../<%= currentArticleImage %>" alt=""></div>

	<div class="pricetag"><span><%= price %> €</span></div>

	<div class="menuUpgradeBasics">
		<div class="smallNote">
			<h3>
				<!-- <i class="iBtn bCheck"></i> -->
				<%= title %>
			</h3>
		</div>
		<p class="itemDescription"><%= description %></p>
	</div>
