<div id="storeClient">
		<label for="storeClientFirstnameInput">Ansprechpartner</label>
		<input id="storeClientFirstnameInput" data-field="firstName" placeholder="Vorname" value="<%= firstName %>">
		<input id="storeClientLastnameInput" data-field="lastName" placeholder="Nachname" value="<%= lastName %>">
	</div>


<div id="storeStreet">
	<div id="storeStreetBasic">
		<label for="storeStreetInput">Straße</label>
		<input id="storeStreetInput" data-field="street" value="<%= street %>">
	</div>
	<div id="storeStreetNumber">
		<label for="storeStreetNumberInput">Nr</label>
		<input id="storeStreetNumberInput" data-field="streetNumber" value="<%= streetNumber %>">
	</div>
	<div id="storeStreetAdditional">
		<label for="storeStreetAdditionalInput">Zusatz</label>
		<input id="storeStreetAdditionalInput" data-field="streetAdditional" value="<%= streetAdditional %>">
	</div>
</div>
<div id="storePostalCity">
	<div id="storePostal">
		<label for="storePostalInput">PLZ</label>
		<input id="storePostalInput" data-field="postal" value="<%= postal %>">
	</div>
	<div id="storeCity">
		<label for="storeCityInput">Stadt</label>
		<input id="storeCityInput" data-field="city" value="<%= city %>">
	</div>
	<div id="storeDistrict">
		<label for="storeDistrictInput">Stadtteil</label>
		<input id="storeDistrictInput" data-field="district" value="<%= district %>">
	</div>
</div>
<div id="storeContact">
	<div id="storePhone">
		<label for="storePhoneInput">Tel</label>
		<input id="storePhoneInput" data-field="phone" value="<%= phone %>">
	</div>
	<div id="storeEmail">
		<label for="storeEmailInput">Email</label>
		<input id="storeEmailInput" data-field="email" value="<%= email %>">
	</div>
</div>