<h1 id="storeName"><i id="storeOpen" <% if (isOpen) { %>class="isOpen"<% } %>></i><%= title %> <span>(<%= number %>)</span></h1>
<div id="storeData">
	<div id="storeAddress"></div>
	<div id="storeSocial">
		<div id="storeFacebook">
			<label id="storeFacebookLabel" for="storeFacebookInput">Facebook</label>
			<label id="storeFacebookUrl" for="storeFacebookInput">facebook.com /</label>
			<input id="storeFacebookInput" value="<%= facebookUrl %>">
		</div>
	</div>
	<div id="storeOrderingContact" class="well">
		<label for="storeOrderingContactInput">Bestellungen an</label>
		<input id="storeOrderingContactInput" placeholder="z.B. bestellungen@subtohome.de" value="<%= orderEmail %>">
		<i class="iBtn" id="bMail" data-tooltip-message="views.store.config.testOrder" data-tooltip-top="86" data-tooltip-left="-27"></i>
	</div>
	<div id="payment" class="bankOptions">
		<div class="<% if (!allowsPaymentEc) { %>disabled<% } %>">
			<button data-method="Ec" id="checkEC" class="toggle btn btnSuccess">EC <i class="icn"></i></button>
		</div>
		<div class="<% if (!allowsPaymentCash) { %>disabled<% } %>">
			<button data-method="Cash" id="checkBar" class="toggle btn btnSuccess">Bar<i class="icn"></i></button>
		</div>
	</div>
</div>