<img class="<%= imageClass %>" src="<%= image %>" alt="" >

<img class="hidden" src="<%= footlongImage %>" alt="" >



<div class="footlongOption">
	<span>Es kommt doch auf die Größe an. Mach's footlong.</span>
</div>
<div class="uncheckFootlong"></div>

<div class="pricetag"><span><%= price.toFixed(2) %> €</span></div>
<div>
	<div class="customizeArticle">
		<div class="iBtn bFood"></div>
	</div>
	<div class="itemInfo">
		<h3><%= title %></h3>
		<p class="itemDescription"><%= description %></p>
	</div>
</div>