<div class="itemOverlay">
	<div class="itemOverlayBackground"></div>
	<div class="itemBasics">

		<img class="itemPreview" src="" data-src="<%= largeImage %>" alt="" >
		<div class="footlongOption">
			<span>Es kommt doch auf die Größe an. Mach's footlong.</span>
		</div>

		<!-- Pricetag -->
		
		<div class="pricetag">
			<div class="tagFst"></div>
			<div class="tag"></div>
			<div class="tag"></div>
			<div class="tag"></div>
			<div class="tag2ndlst"></div>
			<div class="tagLst"></div>
			<span class="firstVisible"><%= price.toFixed(2) %></span>
		</div>

		<h3><%= title %></h3>
		<p class="itemDescription"><%= description %></p>

	</div>

</div>