<div class="note store">
	<div class="container">
		<!-- <div class="store_user_controls">
			<i class="vecbutton_phone"></i>
			<i class="vecbutton_store_info"></i>
			<i class="vecbutton_mail"></i>
		</div> -->
		<div class="categoriesNavigation">
			<div class="categoriesNavigationContainer">
				<div class="stageTimeline"></div>
					<div class="overlayTimeline">
						<div class="overlayFrameTimeline">
							<div class="overlayFrameWrapperTimeline"></div>
						</div>
						<div class="magnifier"></div>
					</div>
				</div>	
		</div>
		
		<div class="storeDeliveryDetails">
			Wir liefern <span>in 20 min</span> nach <span>Berlin Kreuzberg (10696)</span><i class="iBtn bEdit"></i>
		</div>
		<!-- <div class="store_client_controls">
			<i class="vecbutton_lock edit_articles"></i>
			<i class="vecbutton_settings store_cfg"></i>
		</div> -->
	</div>
	
</div>

<div class="content store">

	<div class="categories"></div>

</div>