<div class="note store">
	<div class="container">
		<div class="categoriesNavigation">
			<div class="categoriesNavigationContainer">
				<div class="stageTimeline"></div>
					<div class="overlayTimeline">
						<div class="overlayFrameTimeline">
							<div class="overlayFrameWrapperTimeline"></div>
						</div>
						<div class="magnifier"></div>
					</div>
				</div>	
		</div>
		
		<div class="storeDeliveryDetails"></div>

	</div>
	
</div>

<div class="content store">

	<div class="categories"></div>

</div>