<div class="menuBundleInfo">
	<img class="itemPreview" src="https://sub2home.dev/img/static/menubundles/largeimages/kidspak.png" alt="" >
	<div class="pricetag"><span>4,99 €</span></div>                

	<!-- Bundle's ingredients -->
	        
	<div class="bundleItems">
	    <div class="icn iStar"></div>
	    <div class="icn iStar"></div>
	    <div class="several">
	        <div class="icn iStar small"></div>
	        <div class="icn iStar small"></div>
	        <div class="icn iStar small"></div>
	        <div class="icn iStar small"></div>
	    </div>
	</div>
</div>

<div class="menuBundleDesctiption">
	<div class="customizeArticle">
		<div class="iBtn bFood"></div>
	</div>
	<div class="itemInfo">
		<h3>Kid's Pak</h3>
		<p class="itemDescription">BBQ Rib-Hacksteak mit rauchiger BBQ Sauce, Gemüse und Käse.</p>
	</div>
</div>