<div class="itemOverlay">
	<div class="itemOverlayBackground"></div>
	<div class="itemBasics">

		<img class="itemPreview" src="<%= image %>" alt="" >

		<!-- Pricetag -->
		
		<div class="pricetag">
			<div class="tagFst"></div>
			<div class="tag"></div>
			<div class="tag"></div>
			<div class="tag"></div>
			<div class="tag2ndlst"></div>
			<div class="tagLst"></div>
			<span class="firstVisible"><%= price.toFixed(2) %></span>
		</div>

		<h3><%= title %></h3>
		<p class="itemDescription">Beschreibung</p>

	</div>
	<!-- Bundle's ingredients -->
	
	<div class="bundleItems">

			<div class="iconStar"></div>
			<div class="iconStar"></div>
			<div class="several">
				<div class="iconStar small"></div>
				<div class="iconStar small"></div>
				<div class="iconStar small"></div>
				<div class="iconStar small"></div>
			</div>	

	</div>
</div>