<div class="content info">
	<div class="container">

		<!-- Wie funktioniert's -->

		<article id="howItWorks">
			<header>
				<h1>So funktioniert's</h1>
			</header>
			<div>
				<img src="../img/static/common/system_info.png" alt="">
			</div>
		</article>

		<!-- Store Info -->

		<article id="storeInfoPlaceholder">
			<header>
				<h1>Lieferzeiten<span>SUBWAY® Memmingen</span></h1>
			</header>
			<div class="threeColumn">
				<div class="weekday" data-day="1">
					<h3>Mo</h3>
					<div class="openingHours"></div>
				</div>

				<div class="weekday" data-day="2">
					<h3>Di</h3>
					<div class="openingHours"></div>
				</div>

				<div class="weekday" data-day="3">
					<h3>Mi</h3>
					<div class="openingHours"></div>
				</div>
			</div>
			<div class="threeColumn">
				<div class="weekday" data-day="4">
					<h3>Do</h3>
					<div class="openingHours"></div>
				</div>
				
				<div class="weekday" data-day="5">
					<h3>Fr</h3>
					<div class="openingHours"></div>
				</div>
			</div>
			<div class="threeColumn">
				<div class="weekday" data-day="6">
					<h3>Sa</h3>
					<div class="openingHours"></div>
				</div>
				<div class="weekday" data-day="0">
					<h3>So</h3>
					<div class="openingHours"></div>
				</div>
			</div>
		</article>

		<!-- Zahlungsarten -->

		<article>
			<header>
				<h1>Zahlungsarten</h1>
			</header>
			<div class="threeColumn">
				<header>
					<h3>Barzahlung</h3>
				</header>
				<p>
					Einfach den entsprechenden Betrag bereithalten und bequem bei Ankunft an der Tür bezahlen.
				</p>
			</div>
			<div class="threeColumn">
				<header>
					<h3>EC-Kartenzahlung</h3>
				</header>
				<p>
					Bequem bargeldlos an der Haustür bezahlen. Einfach deine EC-Karte bereithalten, mehr brauchst du nicht.
				</p>
			</div>
			<div class="threeColumn">
				<header>
					<h3>Paypal-Zahlung</h3>
				</header>
				<p>
					Direkt online via Paypal bezahlen. Wenn unser Lieferbote kommt, musst du nur noch deine Lieferung entgegennehmen.
				</p>
			</div>
		</article>

		<!-- Nährwertangaben -->

		<article id="nutritionInfo">
			<header>
				<h1>Nährwertangaben</h1>
			</header>
			<p>
				Alle Infos über Nährwerte, Zusatzstoffe etc. sind hier als PDF verfügbar.
			</p>
			<a href="../files/static/naehrwerte.pdf" class="iBtn bDocument"></a>
		</article>

		<!-- Franchise -->

		<article>
			<header>
				<h1>Franchisepartner werden</h1>
			</header>
			<div class="twoColumn">
				<header>
					<h3>Sie haben einen Store, aber noch keine Onlinetheke ?</h3>
				</header>
				<p>
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
				</p>
			</div>
			<div class="twoColumn">
				<p>
					Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
				</p>
			</div>
		</article>

		<!-- Über sub2home -->

		<article>
			<header>
				<h1>Über sub2home</h1>
			</header>
			<div class="twoColumn">
				<header>
					<h3>Eine SUBWAY Onlinetheke. So war das.</h3>
				</header>
				<p>
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
				</p>
			</div>
			<div class="twoColumn">
				<p>
					Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
				</p>
			</div>
		</article>

		<!-- Kontakt -->

		<article>
			<header>
				<h1>Kontakt</h1>
			</header>
			<div class="twoColumn">
				<header>
					<h3>030 / 023 998 34 59</h3>
				</header>
				<p>
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
				</p>
			</div>
			<div class="twoColumn">
				<p>
					Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
				</p>
			</div>
		</article>

	</div>



</div>

<aside class="infoNavigation">
	<ul>
		<li class="active">So funktioniert's</li>
		<li>Store Info</li>
		<li>Zahlungsarten</li>
		<li>Nährwertangaben</li>
		<li>Franchise</li>
		<li>Über sub2home</li>
		<li>Kontakt</li>
	</ul>
</aside>