<div id="popupContainer">
	<header>
		<h3>Hier gibt es leider noch keinen Store, der über sub2home liefert. Möchtest du einen Store in deiner Nähe vorschlagen ?</h3>
		<a href="/info#infoAvailableStores" target="_blank">Hier findest du eine Übersicht der Restaurants, die bereits über sub2home ausliefern.</a>
	</header>
	<div id="message">
		<textarea name="" id="suggestStoreMessage" placeholder="Name und ungefährer Ort des Stores" cols="30" rows="2"></textarea>
		<div></div>
	</div>
	<div id="suggestStoreFooter">
		<div id="suggestStoreDescription">
			<a href="https://www.facebook.com/sub2home" class="iBtn iFacebook"></a>
			<span>Vielen Dank! Wir werden alles daran setzen,<br>sub2home bald auch in deiner Nähe verfügbar zu<br>machen. Facebook hält dich auf dem Laufenden.</span>
		</div>
		<div id="submitStoreSuggestion">Absenden</div>
	</div>
</div>