<div class="storePreview">
	<img src="https://d3uu6huyzvecb1.cloudfront.net/images/common/pin.png" alt="">
	<div class="smallNote">
		<div class="centerContent">
			<h4><%= title %></h4>
			<div class="deliveryStatus">
                <% if (isOpen) { %>
    				<% if (isDelivering) { %>
    				<span class="deliveryIndicator delivering"></span>Liefert gerade
    				<% } else { %>
    				<span class="deliveryIndicator notDelivering"></span>Liefert wieder ab <%= nextDeliveryTime %>
    				<% } %>
                <% } else { %>
                    <span class="deliveryIndicator closed"></span>Geschlossen
                <% } %>
			</div>
		</div>
	</div>
</div>