<div class="note" id="storeNote">
	<div class="container">
		<div id="categoriesNavigation">
			<div id="categoriesNavigationContainer">
				<div id="stageTimeline"></div>
				<div id="overlayTimeline">
					<div id="overlayFrameTimeline">
						<div id="overlayFrameWrapperTimeline"></div>
					</div>
					<div id="magnifier"></div>
				</div>
			</div>
		</div>
		<div id="storeDeliveryDetails"></div>
	</div>
</div>
<div class="content store">
	<div id="categories"></div>
	<div class="popup" id="preSelectDeliveryArea"></div>
	<div class="note" id="infoNote"></div>
</div>
<div class="popup">
  <div id="popupContainer">
     <div id="storeClosed">
       <h2>
        Sorry, SUBWAY<span class="superscript">®</span> <%= title %> liefert heute nicht.
      </h2>
      <p class="closedInfo">
        Wir haben über die Feiertage geschlossen, ab dem 1.1.2015 steht unsere Onlinetheke wieder allen Bestellern offen.
      </p>
     </div> 
  </div>
</div>
