<div class="note" id="storeNote">
	<div class="container">
		<div id="categoriesNavigation">
			<div id="categoriesNavigationContainer">
				<div id="stageTimeline"></div>
				<div id="overlayTimeline">
					<div id="overlayFrameTimeline">
						<div id="overlayFrameWrapperTimeline"></div>
					</div>
					<div id="magnifier"></div>
				</div>
			</div>
		</div>
		<div id="storeDeliveryDetails"></div>
	</div>
</div>
<div class="content store">
	<div id="categories"></div>
	<div class="popup" id="preSelectDeliveryArea"></div>
	<div class="note" id="infoNote"></div>
</div>
<div id="storeClosed">
	<div>Sorry, SUBWAY<span class="superscript">®</span> Memmingen liefert zur Zeit leider nicht.</div>
</div>
