<div class="deliveryAddressSettings">
	<header>
		<h1>Wohin soll deine Bestellung geliefert werden?</h1>
	</header>

	<div class="customerName">
		<div class="customerFirstname">
			<label for="customerFirstnameInput">Vorname</label>
			<input data-attribute="firstName" id="customerFirstnameInput" value="<%= firstName %>">
		</div>
		<div class="customerLastname">
			<label for="customerLastnameInput">Nachname</label>
			<input data-attribute="lastName" id="customerLastnameInput" value="<%= lastName %>">
		</div>
	</div>

	<div class="customerContact">
		<div class="customerPhone">
			<label for="customerPhoneInput">Tel</label>
			<input data-attribute="phone" id="customerPhoneInput" value="<%= phone %>">
		</div>
		<div class="customerEmail">
			<label for="customerEmailInput">Email</label>
			<input data-attribute="email" id="customerEmailInput" value="<%= email %>">
		</div>
	</div>

	<div class="customerAddress">
		<div class="customerStreet">
			<label for="customerStreetInput">Strasse</label>
			<input data-attribute="street" id="customerStreetInput" value="<%= street %>">
		</div>
		<div class="customerAddressAdditional">
			<label for="customerAddressAdditionalInput">Zusatz</label>
			<input data-attribute="streetAdditional" id="customerAddressAdditionalInput" value="<%= streetAdditional %>">
		</div>
	</div>

	<div class="customerPostalCity">
		<div class="customerPostal">
			<label for="customerPostalInput">PLZ</label>
			<span id="customerPostalInput"><%= postal %></span>
		</div>
		<div class="customerCity">
			<label for="customerCityInput">Stadt</label>
			<span id="customerCityInput"><%= city %></span>
		</div>

	</div>
	<button id="save" class="btn btnSuccess">Fertig</button>
</div>
<div class="paymentSettings">
	Du zahlst <% if (allowsPaymentCash) { %><span data-method="cash" class="bar <% if (selectedPaymentMethod === 'cash') { %>selected<% } %>">Bar</span><% } %><% if (allowsPaymentEc) { %><span data-method="ec" class="ecCard <% if (selectedPaymentMethod === 'ec') { %>selected<% } %>">mit EC-Karte</span><% } %><% if (allowsPaymentPaypal) { %><span data-method="paypal" class="paypal <% if (selectedPaymentMethod === 'paypal') { %>selected<% } %>">via PayPal</span><% } %>
</div>