<div class="deliveryAddressSettings">
	<header>
		<h1>Wohin soll deine Bestellung geliefert werden?</h1>
	</header>

	<div class="customerName">
		<div class="customerFirstname">
			<label for="customerFirstnameInput">Vorname</label>
			<input id="customerFirstnameInput" data-field="" value="">
		</div>
		<div class="customerLastname">
			<label for="customerLastnameInput">Nachname</label>
			<input id="customerLastnameInput" data-field="" value="">
		</div>
	</div>

	<div class="customerAddress">
		<div class="customerStreet">
			<label for="customerStreetInput">Strasse</label>
			<input id="customerStreetInput" data-field="" value="">
		</div>
		<div class="customerHouseNr">
			<label for="customerHouseNrInput">Nr</label>
			<input id="customerHouseNrInput" data-field="" value="">
		</div>
		<div class="customerAddressAdditional">
			<label for="customerAddressAdditionalInput">Zusatz</label>
			<input id="customerAddressAdditionalInput" data-field="" value="">
		</div>
	</div>

	<div class="customerPostalCity">
		<div class="customerPostal">
			<label for="customerPostalInput">PLZ</label>
			<input id="customerPostalInput" data-field="" value="">
		</div>
		<div class="customerCity">
			<label for="customerCityInput">Stadt</label>
			<input id="customerCityInput" data-field="" value="">
		</div>

	</div>
	<button id="save" class="btn btnSuccess">Fertig</button>
</div>
<div class="paymentSettings">
	Du zahlst<span class="bar">Bar</span><span class="ecCard">mit EC-Karte</span><span class="paypal">via PayPal</span>
</div>