<div class="deliveryAddressSettings">
	<header>
		<h1>Wohin soll deine Bestellung geliefert werden?</h1>
	</header>

	<div class="customerName">
		<div class="customerFirstname">
			<label for="customerFirstnameInput">Vorname</label>
			<input id="customerFirstnameInput" value="<%= firstName %>">
		</div>
		<div class="customerLastname">
			<label for="customerLastnameInput">Nachname</label>
			<input id="customerLastnameInput" value="<%= lastName %>">
		</div>
	</div>

	<div class="customerAddress">
		<div class="customerStreet">
			<label for="customerStreetInput">Strasse</label>
			<input id="customerStreetInput" value="<%= street %>">
		</div>
		<div class="customerAddressAdditional">
			<label for="customerAddressAdditionalInput">Zusatz</label>
			<input id="customerAddressAdditionalInput" value="<%= streetAdditional %>">
		</div>
	</div>

	<div class="customerPostalCity">
		<div class="customerPostal">
			<label for="customerPostalInput">PLZ</label>
			<input id="customerPostalInput" value="<%= postal %>" disabled>
		</div>
		<div class="customerCity">
			<label for="customerCityInput">Stadt</label>
			<input id="customerCityInput" value="<%= city %>" disabled>
		</div>

	</div>
	<button id="save" class="btn btnSuccess">Fertig</button>
</div>
<div class="paymentSettings">
	Du zahlst<span class="bar">Bar</span><span class="ecCard">mit EC-Karte</span><span class="paypal">via PayPal</span>
</div>