<div id="checkoutAdditionalOptions">
	<div class="deliveryTimeClock">

		<span class="hours">
			<i class="iBtn iArrowUp"></i>
			<span class="topTile">
				<span><%= dueHours %></span>
			</span>
			<span class="bottomTile">
				<span><%= dueHours %></span>
			</span>
			<i class="iBtn iArrowDown <% if (hoursAreMinimum) { %>inactive <% } %>"></i>
		</span>

		<span class="clockSeparator"></span>
		<span class="minutes">
			<i class="iBtn iArrowUp"></i>
			<span class="topTile">
				<span><%= dueMinutes %></span>
			</span>
			<span class="bottomTile">
				<span><%= dueMinutes %></span>
			</span>
			<i class="iBtn iArrowDown <% if (minutesAreMinimum) { %>inactive <% } %>"></i>
		</span>
	</div>
	<div class="deliveryAdditionalNote">
		<textarea name="" id="" cols="60" rows="5"><%= comment %></textarea>
	</div>
</div>

<div id="checkoutBasicControls">
	<% if (isReady) { %>
	<span class="orderNow">Bestellen</span> für <span class="price"><%= total.toFixed(2) %> €</span>, bezahlen <span class="paymentMethod settings"><%= paymentMethod %><i class="icn iEdit"></i></span><br/>
	und liefern <span class="deliveryAddress settings">an <%= firstName %> <%= lastName %> in die <%= street %><i class="icn iEdit"></i></span>
	<div class="icn iCart"></div>
	<% } else { %>
	Nur noch deine <span class="deliveryAddress settings">Lieferadresse angeben</span> und dann bestellen für <span class="price"><%= total.toFixed(2) %> €</span>
	<% } %>

</div>