<% if (isReady) { %>
<div class="checkoutReadyControls">
	<span class="orderNow">Bestellen</span> für <span class="price"><%= total.toFixed(2) %> €<span class="credit"><i class="iBtn bRemove"></i><i class="iBtn iCredit"></i><i class="iBtn bAdd"></i><i class="notice rightHandAbove">Gute Gäste geben Trinkgeld.</i></span></span>, bezahlen <span class="paymentMethod settings"><%= paymentMethod %><i class="icn iEdit"></i></span><br/>
	und liefern <span class="deliveryAddress settings">an <%= firstName %> <%= lastName %> in die <%= street %><i class="icn iEdit"></i></span>
</div>
<div class="icn iCart"></div>

<% } else { %>
Nur noch deine <span class="deliveryAddress settings">Lieferadresse angeben<i class="icn iEdit"></i></span><br/>und dann bestellen für <span class="price"><%= total.toFixed(2) %> €
<% } %>