<p>Wir sind frühestens in <%= minimumDuration %> Minuten bei dir, du kannst die Uhrzeit aber auch gerne korrigieren</p>
<div id="deliveryTimeClock">
	<span id="hours">
		<i class="iBtn iArrowUp active"></i>
		<span class="topTile">
			<span><%= dueHours %></span>
		</span>
		<span class="bottomTile">
			<span><%= dueHours %></span>
		</span>
		<i class="iBtn iArrowDown <% if (!hoursAreMinimum) { %>active <% } %>"></i>
	</span>

	<span id="clockSeparator"></span>
	<span id="minutes">
		<i class="iBtn iArrowUp active"></i>
		<span class="topTile">
			<span><%= dueMinutes %></span>
		</span>
		<span class="bottomTile">
			<span><%= dueMinutes %></span>
		</span>
		<i class="iBtn iArrowDown <% if (!minutesAreMinimum) { %>active <% } %>"></i>
	</span>
</div>