<div class="note" id="trayNote">
	<div class="container">
		<section id="checkoutSettings"></section>
		<section id="orderedItems"></section>
		<section id="checkoutControls">
			<div id="checkoutDeliveryRegulation">
				<div id="deliveryTimeDisplay"></div>
				<div id="deliveryAdditionalNote"></div>
			</div>
			<div id="checkoutBonusOptions">
				<div id="gratisCookieOption" class="well">
					<label for="gratisCookieOptionInput">Bekommst du noch einen Gratiscookie?<br>Einfach Gutscheincode hier eingeben.</label>
					<input id="gratisCookieOptionInput" type="text" placeholder="####">
				</div>
				<div id="subcardOption"></div>
			</div>
			<div id="checkoutBasicControls"></div>
		</section>
	</div>
</div>