<div class="note tray">
	<section class="checkoutSettings"></section>
	<section class="orderedItems"></section>

	<section id="checkoutControls">

		<div id="checkoutAdditionalOptions">
			<div>Blablabla<br/>blablabla<br/></div>
		</div>

		<div id="checkoutBasicControls">

			<!-- Nur noch deine <span class="set_delivery_address">Lieferadresse angeben</span> und dann bestellen für <span class="price">10.99 €</span> -->


			<span class="orderNow">Bestellen</span> für <span class="price">10.99 €</span>, bezahlen <span class="paymentMethod">via Paypal<i class="icn iEdit"></i></span><br/>
			und liefern <span class="deliveryAddress">an Frederik Kraus in die Hauptstraße 5<i class="icn iEdit"></i></span>
			<div class="icn iCart"></div>
		</div>
	</section>
</div>