<div class="note tray">
	<section class="checkoutSettings"></section>
	<section class="orderedItems"></section>
	<!--<section class="checkout_controls">
		Nur noch deine <span class="set_delivery_address">Lieferadresse angeben</span> und dann bestellen für <span class="price">10.99</span>
	</section>-->
	<section class="checkoutControls">
		<span class="orderNow">Bestellen</span> für <span class="price">10.99</span>, bezahlen <span class="paymentMethod">via Paypal<i class="icn iTools"></i></span><br/>
		und liefern <span class="deliveryAddress">an Frederik Kraus in die Hauptstraße 5<i class="icn iTools"></i></span>
		<div class="icn iCart"></div>
	</section>
</div>