
<header>
	<div class="titleContainer">
		<div class="flag">
			<div class="flagBack"></div>
			<div class="flagFront">
				<h5>Sparmenü</h5>
			</div>
		</div>
		<div class="separator"></div>
	</div>
	<div class="pricetag">
		<div class="tagFst"></div>
		<div class="tag"></div>
		<div class="tag"></div>
		<div class="tag"></div>
		<div class="tag2ndlst"></div>
		<div class="tagLst"></div>
		<span class="firstVisible">3,99</span>
	</div>
	<div class="controls">
		<i class="vecbuttonAdd addItem"></i>
		<i class="vecbuttonTrash deleteItem"></i>
	</div>
</header>
<div class="menuBundleItems">

	<div class="menuBundleItem sub descriptive">
		<img class="itemPreview" src="../../../img/articles/subs/bmt.png" alt="">
		<div class="itemDescription">
			<h3>Italian B.M.T.<span class="badgeGreen subSize">15<small>cm</small></span></h3>
			<p>Italian, oh yes.</p>
		</div>
	</div>
	<div class="menuBundleItem beverage">
		<img class="itemPreview" src="../../../img/articles/getraenke/kaltgetraenk.png" alt="">
		<div class="itemDescription">
			<h3>Coke Light<span class="badgeGreen cupSize">0,5l</span></h3>
		</div>
	</div>
	<div class="menuBundleItem cookie">
		<img class="itemPreview" src="../../../img/articles/cookies/double_choc.png" alt="">
		<div class="itemDescription">
			<h3>Double Chocolate Cookie</h3>
		</div>
	</div>

</div>