<div class="storePreview">
	<img src="https://s3-eu-west-1.amazonaws.com/sub2home-static/images/common/pin.png" alt="">
	<div class="smallNote">
		<div class="centerContent">
			<h4><%= title %></h4>
			<div class="deliveryStatus">
				<% if (isDelivering) { %>
				<span class="deliveryIndicator delivering"></span>Liefert gerade</span>
				<% } else { %>
				<span class="deliveryIndicator notDelivering"></span>Liefert wieder ab <%= nextDeliveryTime %></span>
				<% } %>
			</div>
		</div>
	</div>
</div>