// CHROME

.chrome {

	.ingredient_title_input {
		left: -10px;
		top: -3px;
	}

	.ingredient_price_input {
		left: 7px;
		top: -7px
	}

	.category_title_input {
		position: relative;
		top: 1px;
		left: 1px;
	}
	.category_contents {
		position: relative;
		top: 1px;
	}
}


// FIREFOX

.firefox {

	.ingredient_title_input {
		top: -3px;
	}

	.ingredient_price_input {
		top: -8px;
	}
	.category_title_input {
		position: relative;
		top: 1px;
	}
}	
