<section class="content checkout"></section>

<section class="note" id="checkout">

		<div class="deliveryTimeClock countdown">
			<p>Danke für deine Bestellung, Johannes. Wir sind ca. <span class="emphasized">21:15 Uhr</span> bei dir in der Elbestraße.<br><span>Dein Countdown:</span></p>
			<span class="hours">
				<span class="topTile">
					<span>00</span>
				</span>
				<span class="bottomTile">
					<span>00</span>
				</span>
			</span>

			<span class="clockSeparator"></span>
			<span class="minutes">
				<span class="topTile">
					<span>27</span>
				</span>
				<span class="bottomTile">
					<span>27</span>
				</span>
			</span>
		</div>
		<div class="deliveryAdditionalNote">
			<div></div>
			<div></div>
			<div></div>
			<textarea name="" id="" cols="60" placeholder="Was ich noch loswerden wollte..." rows="6"><%= comment %></textarea>
		</div>
</section>