<article id="infoStoreContact">
	<header>
		<h1 id="hotline" data-nav="Kontakt"><span>Hotline</span><%= phone %></h1>
		<h3>SUBWAY<span class="superscript">®</span> <%= title %></h3>
	</header>
	<div class="twoColumn">
		<p>
			<%= street %> <%= streetNumber %><br>
			<%= postal %> <%= city %>
		</p>
	</div>
	<div class="twoColumn">
		<p>
			<i class="icn iPhone"></i> <%= phone %><br>
			<a href="mailto:<%= email %>"><i class="icn iMail"></i> <%= email %></a><br>
			<% if (facebookUrl) { %>
			<a href="<%= facebookUrl %>" target="_blank"><i class="icn iFacebook"></i> / <%= facebookUrl.replace('https://www.facebook.com/', '') %></a>
			<% } %>
		</p>
	</div>
</article>

<article id="infoDeliveryTimes">
	<header>
		<h1 data-nav="Lieferzeiten">Lieferzeiten</h1>
	</header>
	<div class="threeColumn">
		<div class="weekday" data-day="1">
			<h3>Mo</h3>
			<div class="openingHours"></div>
		</div>

		<div class="weekday" data-day="2">
			<h3>Di</h3>
			<div class="openingHours"></div>
		</div>

		<div class="weekday" data-day="3">
			<h3>Mi</h3>
			<div class="openingHours"></div>
		</div>
	</div>
	<div class="threeColumn">
		<div class="weekday" data-day="4">
			<h3>Do</h3>
			<div class="openingHours"></div>
		</div>
		
		<div class="weekday" data-day="5">
			<h3>Fr</h3>
			<div class="openingHours"></div>
		</div>
	</div>
	<div class="threeColumn">
		<div class="weekday" data-day="6">
			<h3>Sa</h3>
			<div class="openingHours"></div>
		</div>
		<div class="weekday" data-day="0">
			<h3>So</h3>
			<div class="openingHours"></div>
		</div>
	</div>
</article>

<article id="infoDeliveryAreas">
	<header>
		<h1 data-nav="Liefergebiete">Liefergebiete</h1>
	</header>
	<!-- There are two fluidColumns, spread deliveryAreas evenly on both (they will automatically turn into a one-column-list, if browser is too small) -->
	<div class="fluidColumn"></div>
	<div class="fluidColumn"></div>
</article>

<article id="infoPaymentMethods">
	<header>
		<h1 data-nav="Zahlungsarten">Zahlungsarten</h1>
	</header>
	<div class="twoColumn cash">
		<header>
			<h3>Barzahlung</h3>
		</header>
		<p>
			Einfach den entsprechenden Betrag bereithalten und bequem bei Ankunft an der Tür bezahlen. Bitte beachte, dass wir keine 100, 200 und 500€-Scheine im Lieferdienst annehmen.<br/>
			<i class="icn iEdenred"></i><i class="icn iSodexo"></i>
		</p>
	</div>
	<div class="twoColumn ec">
		<header>
			<h3>EC-Kartenzahlung</h3>
		</header>
		<p>
			Bequem bargeldlos an der Haustür bezahlen. Einfach deine EC-Karte und Pin bereithalten. Mehr brauchst du nicht. Zur Zahlung benötigen wir die Verbindung zum Mobilfunknetz.
		</p>
	</div>
		<!-- <div class="threeColumn paypal">
			<header>
				<h3>Paypal-Zahlung</h3>
			</header>
			<p>
				Direkt online via Paypal bezahlen. Wenn unser Lieferbote kommt, musst du nur noch deine Lieferung entgegennehmen und den Empfang bei unserem Boten bestätigen.
			</p>
		</div> -->
	</article>