<IfModule mod_rewrite.c>

	Options -MultiViews
	RewriteEngine On

	RewriteRule ^api/(.*)$ http://api.%{HTTP_HOST}/$1 [P]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.html [L]

	# download pdf files, don't open them
	<FilesMatch "\.(?i:pdf)$">
	ForceType application/octet-stream
	Header set Content-Disposition attachment
	</FilesMatch>

</IfModule>