<div class="note selection">
	<div class="container"></div>
</div>
<div class="content selection">
	<div class="stage"></div>
	<div class="overlay">
		<div class="vecbuttonPrev"></div>
		<div class="vecbuttonNext"></div>
		<div class="vecbuttonCart"></div>
	</div>
</div>
<div class="note timeline">
	<div class="container">
		<div class="stageTimeline"></div>
		<div class="overlayTimeline">
			<div class="overlayFrameTimeline">
				<div class="overlayFrameWrapperTimeline"></div>
			</div>
			<div class="magnifier"></div>
		</div>
	</div>
</div>