<div class="note selection" id="selectionNote">
	<div class="container" id="infoContainer"></div>
</div>
<div class="content selection">
	<div id="stage"></div>
	<div id="overlay">
		<div class="iBtn bPrev" id="bPrev"></div>
		<div class="iBtn bNext" id="bNext"></div>
		<div class="iBtn bCart" id="bCart"></div>
	</div>
</div>
<div class="note timeline" id="timelineNote">
	<div class="container">
		<div id="stageTimeline"></div>
		<div id="overlayTimeline">
			<div id="overlayFrameTimeline">
				<div id="overlayFrameWrapperTimeline"></div>
			</div>
			<div id="magnifier"></div>
		</div>
	</div>
</div>