<div class="note full split">
	<section id="clientRevenues">
		<div id="clientYearlyTurnover"><span>124.034 €<br><span>Jahresumsatz 2013</span></span></div>
		<div id="clientCurrentMonthlyTurnover"><span>12.198 €<br><span>Umsatz diesen Monat (April'13)</span></span></div>
		<div id="clientRecentMonthlyRevenues">
			<div class="clientMonthlyTurnover">
				<span>Dez 2012</span> 12.594 € <i class="iBtn iDocument"></i>
			</div>
			<div class="clientMonthlyTurnover">
				<span>Nov 2012</span> 11.345 € <i class="iBtn iDocument"></i>
			</div>
		</div>
	</section>
	<section id="clientStores">

	</section>


</div>