<div id="clientYearlyTurnover"><span><%= totalOfCurrentYear %> €<br><span>Jahresumsatz <%= currentYear %></span></span></div>
<div id="clientCurrentMonthlyTurnover"><span><%= totalOfCurrentMonth %> €<br><span>Umsatz diesen Monat (<%= currentMonth %>'<%= currentYearShort %>)</span></span></div>
<div id="clientRecentMonthlyRevenues">
	<div class="clientMonthlyTurnover">
		<span>Dez 2012</span> 12.594 € <i class="iBtn iDocument"></i>
	</div>
	<div class="clientMonthlyTurnover">
		<span>Nov 2012</span> 11.345 € <i class="iBtn iDocument"></i>
	</div>
</div>