<div class="note store">
	<!-- Timeline hier bitte -->

	<div class="assortmentControls">
		<div class="iBtn bReset">Alle Preise zurücksetzen</div>
		<div class="iBtn bUnlocked">Verfügbarkeit bearbeiten</div>
	</div>
</div>

<div class="content store">

	<div class="categories">
		<div class="category">
			<header>
				<div class="flag">
					<div class="flagBack"></div>
					<div class="flagFront">
						<h5><%= title %></h5>
					</div>
				</div>
				<div class="separator"></div>
			</header>
			<div class="items">
				<div class="item">
					<img class="itemPreview" src="" data-src="https://sub2home.dev/img/static/articles/largeimages/subs/ckfajita6g.png" alt="" >
					<div class="pricetag"><span>3.99 €</span></div>
					<h3>Chicken Fajita</h3>
					<p class="itemDescription">mit würzigen Hähnchenbruststreifen, Gemüse und Käse nach Wahl</p>
				</div>
				<div class="item">
					<img class="itemPreview" src="" data-src="https://sub2home.dev/img/static/articles/largeimages/subs/ckfajita6g.png" alt="" >
					<div class="pricetag"><span>3.99 €</span></div>
					<h3>Chicken Fajita</h3>
					<p class="itemDescription">mit würzigen Hähnchenbruststreifen, Gemüse und Käse nach Wahl</p>
				</div>
				<div class="item">
					<img class="itemPreview" src="" data-src="https://sub2home.dev/img/static/articles/largeimages/subs/ckfajita6g.png" alt="" >
					<div class="pricetag"><span>3.99 €</span></div>
					<h3>Chicken Fajita</h3>
					<p class="itemDescription">mit würzigen Hähnchenbruststreifen, Gemüse und Käse nach Wahl</p>
				</div>
				<div class="item">
					<img class="itemPreview" src="" data-src="https://sub2home.dev/img/static/articles/largeimages/subs/ckfajita6g.png" alt="" >
					<div class="pricetag"><span>3.99 €</span></div>
					<h3>Chicken Fajita</h3>
					<p class="itemDescription">mit würzigen Hähnchenbruststreifen, Gemüse und Käse nach Wahl</p>
				</div>
				<div class="item">
					<img class="itemPreview" src="" data-src="https://sub2home.dev/img/static/articles/largeimages/subs/ckfajita6g.png" alt="" >
					<div class="pricetag"><span>3.99 €</span></div>
					<h3>Chicken Fajita</h3>
					<p class="itemDescription">mit würzigen Hähnchenbruststreifen, Gemüse und Käse nach Wahl</p>
				</div>
				<div class="item">
					<img class="itemPreview" src="" data-src="https://sub2home.dev/img/static/articles/largeimages/subs/ckfajita6g.png" alt="" >
					<div class="pricetag"><span>3.99 €</span></div>
					<h3>Chicken Fajita</h3>
					<p class="itemDescription">mit würzigen Hähnchenbruststreifen, Gemüse und Käse nach Wahl</p>
				</div>
				<div class="item">
					<img class="itemPreview" src="" data-src="https://sub2home.dev/img/static/articles/largeimages/subs/ckfajita6g.png" alt="" >
					<div class="pricetag"><span>3.99 €</span></div>
					<h3>Chicken Fajita</h3>
					<p class="itemDescription">mit würzigen Hähnchenbruststreifen, Gemüse und Käse nach Wahl</p>
				</div>
			</div>	
		</div>
	</div>	
</div>