<div class="note store">
	<div id="sectionNavigation">
		<div id="categoriesNavigationContainer">
			<div id="stageTimeline"></div>
			<div id="overlayTimeline">
				<div id="overlayFrameTimeline">
					<div id="overlayFrameWrapperTimeline"></div>
				</div>
				<div id="magnifier"></div>
			</div>
		</div>
	</div>
	<div class="assortmentControls"></div>
</div>
<div class="content store assortment">
	<div id="stage">
		<div class="slide" id="articlesSection"></div>
		<div class="slide" id="menusSection"></div>
		<div class="slide" id="ingredientsSection"></div>
	</div>
</div>