<div id="loader">
	<div id="loadbarBackground">
		<div id="loadbar"></div>
	</div>
</div>
<div class="note" id="assortmentNote">
	<div id="sectionsNavigation">
		<div id="categoriesNavigationContainer">
			<div id="stageTimeline"></div>
			<div id="overlayTimeline">
				<div id="overlayFrameTimeline">
					<div id="overlayFrameWrapperTimeline"></div>
				</div>
				<div id="magnifier"></div>
			</div>
		</div>
	</div>
	<div class="assortmentControls articles"></div>
	<div class="assortmentControls menus"></div>
	<div class="assortmentControls ingredients"></div>
</div>
<div class="content store assortment">
	<div id="stage">
		<div class="slide articles"></div><div class="slide menus"></div><div class="slide ingredients"></div>
	</div>
</div>